
<ul>
	<li>Over 50 pieces of self-produced music released, including three full-length albums</li>

	<li>Highest played track over <b>17 million streams</b></li>

	<li>Composed film soundtracks including 
		<a href="https://www.imdb.com/title/tt9337716/"><i>It's Snowing Outside</i></a>, 
		directed by <b>Lucasfilm's Rayne Roberts</b>. Completed at Skywalker Ranch with 
		Academy Award winner <b>André Fenley</b> (Fight Club, Jurassic Park)</li>

	<li>
		5500 <a href="https://open.spotify.com/artist/58yaxER8OVXD43lFpnWIAn?si=7VoXpjbeTOm0ZPF_1XqgcQ">Spotify</a> followers, 
		1200 newsletter, 
		15k <a href="https://www.xiaohongshu.com/user/profile/651fd888000000002402d2a8">Rednote</a>, 
		15k <a href="https://soundcloud.com/levipatel">Soundcloud</a>, 
		1600 <a href="https://instagram.com/levipatel">Instagram</a>, 
		1600 <a href="https://facebook.com/levipatelmusic">Facebook</a>, 
		6000 <a href="https://www.douyin.com/user/MS4wLjABAAAAJVBAXZTf7maeXmRi1EGbB01qLDCzcZfbn6cmw45DRA892a2WU5kAqAue4fyrDVfU">Douyin</a>,
		2000 <a href="https://music.163.com/#/artist?id=844354">Netease</a>
	</li>

	<li>4.5 star review on 
		<a href="https://www.stuff.co.nz/entertainment/91034251/listening-post-french-for-rabbitslevi-patelmottesleaford-mods">stuff.co.nz</a> 
		and Sunday Star Times (NZ) <i>Albums of the Year</i> list 2017</li>

	<li>Produced and written gentle pop songs with artists including 
		<a href="https://youtu.be/fGawMPHTzIo"><i>Alayna</i></a> 
		and <a href="https://levipatel.com/release/migrations"><i>Jeremy Redmore</i></a></li>

	<li>Co-written and featured on music with Rhian Sheehan, Message to Bears, and Moshimoss</li>

	<li>Exhibited prototype robotic musical instrument at New York's Museum of the Moving Image (2020)</li>

	<li>Self-taught Mandarin speaker with viral posts in China, and thousands of videos using my music on 
		Chinese TikTok (<span class="chinese-body">抖音</span>)</li>

	<li>Featured on Chinese television, radio, and official media platforms</li>

	<li>Bachelor of Engineering (First Class Honours in Software Engineering) 
		and Bachelor of Commerce (Economics and Finance) from the 
		University of Auckland</li>
</ul>