<div class="press-kit-section">
    <h2>Featured Interviews</h2>

    <p>RNZ National - 
        <a href="https://www.rnz.co.nz/national/programmes/nights/audio/2018969204/the-kiwi-musician-taking-chinese-social-media-by-storm">
            The Kiwi Musician Taking Chinese Social Media by Storm
        </a> (Dec 2024)
    </p>

    <p>Rolling Stone Australia - 
        <a href="https://au.rollingstone.com/music/music-features/meet-the-new-zealand-musician-who-went-viral-in-china-74481/">
            Meet the New Zealand Musician Who Went Viral in China
        </a> (Apr 2025)
    </p>

 </div>