
<h3><i>A Shifting Lightness (2020)</i></h3>
<p><i>“It’s fair to call A Shifting Lightness a spiritual pilgrimage.”</i> - A Closer Listen</p>
<p><i>“The lightness of being is potently encapsulated in A Shifting Lightness.”</i> - Muzic.net.nz [5 stars]</p>
<p><i>"It is recordings like this that make you wonder why so few classical music lovers have gotten over the 18th century."</i> - The Moderns</p>
<p><i>“Overwhelmingly touching.”</i> - Arctic Drones</p>

<h3><i>Affinity (2017)</i></h3>
<p><i>"A bright new star has flashed its way across the skies in the Southern Hemisphere... the compositions on Affinity will hold their appeal for generations to come."</i> - Stuff.co.nz [4.5 stars]</p>
<p><i>"Levi Patel is quietly claiming his rightful place in the spotlight."</i> - NZ Musician</p>
<p><i>“[Affinity] deserves a place near every fireside and in every front parlour.”</i> - Elsewhere</p>

<!-- <h3><i>Of Sleep and Time (2015)</i></h3>
<p><i>"Life-affirming music"</i> - A Closer Listen</p>
<p><i>"You’d be quick to draw comparisons with Nils Frahm’s early days, but it’s Ólafur Arnalds and Otto A. Totland who’ll be witnessing a similar young prodigy tread in the same, gentle footsteps."</i> - A Strangely Isolated Place</p> -->