<div class="press-kit-section">
    <h2>Videos</h2>

      <h3>Gravity (Music Video)</h3>
  
      <div class="videoWrapper">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Etu79_Az-iQ?si=u_aFdkNy-qFjEy1O" 
        title="YouTube video player: Gravity by Levi Patel official music video" 
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    

    <h3>Through Winter Eyes (Music Video)</h3>

    <div class="videoWrapper">
      <iframe title="Through winter eyes music video" src="https://player.vimeo.com/video/373814395?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="1024" height="576" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>

    <h3>Film Composition Showreel</h3>

    <div class="videoWrapper">
      <iframe title="Film composition showreel" src="https://player.vimeo.com/video/436989309?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="1024" height="576" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>

    <h3>Words Like First Light (Music Video)</h3>

    <div class="videoWrapper">
      <iframe title="Words like first light music video" src="https://player.vimeo.com/video/382518051?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="1024" height="576" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
</div>