<div class="press-kit-section">
    <h2>Videos</h2>

      <h3>Gravity (Music Video)</h3>
  
      <div class="videoWrapper">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Etu79_Az-iQ?si=u_aFdkNy-qFjEy1O" 
        title="Gravity by Levi Patel official music video" 
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    

    <h3>Through Winter Eyes (Music Video)</h3>

    <div class="videoWrapper">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/KVycUG7h44w?si=04jrf93nnYBwCc9Q" 
      title="Through Winter Eyes by Levi Patel official music video" 
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <h3>Film Composition Showreel</h3>

    <div class="videoWrapper">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/fAiR6hXxmH8?si=SfJbbQGsS2TgDRlY"
      title="Film composition showreel"
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <h3>Words Like First Light (Music Video)</h3>

    <div class="videoWrapper">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/XtC7Y-tZyuE?si=qDuA6VsYUKHE1F5h" 
      title="Words Like First Light by Levi Patel official music video" 
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

</div>