---
layout: default
title: Levi Patel | About
---

  <div class="page-banner about-page-banner">
    <div class="page-banner-text">
      <h1>About Levi Patel</h1>

      {% include biography-part-1.html %}

    </div>
  </div>

  
  <div class="textBG" >
    <div class="textBG-content">

      {% include biography-part-2.html %}
   
      <img src="images/press/levipatel6.png" style="width:100%; margin-left: auto; margin-right: auto; display: block; margin-top: 35px;" alt="Levi Patel portrait photograph" />

  </div>
</div>
  
<div class="textBG darker-background">
  <div class="textBG-content">
    <h2>Discography</h2>
    {% include credits-discography.html %}
    
    <p></p>

    <h2>Film Highlights</h2>
    {% include credits-film.html %}

    <p></p>
    
    <h2>Collaboration Highlights</h2>
    {% include credits-collaboration.html %}

    <h2>Commercial Clients</h2>
    {% include credits-commercial.html %}
    
    <p></p>

  </div>
</div>

{% include tile-grid.html %}

