---
layout: default
---

<div class="collaboration-page">

  <div class="page-banner collaboration-page-banner">
    <div class="page-banner-text">
      <h1>Production and Collaboration</h1>

      <p>Whenever I think of the most rewarding musical experiences in my life the best ones always come from working with other people.</p>

      <p>I produce music with other artists, co-write songs and instrumental music, record and mix music, and create my own reworks of other artists' tracks.</p>

      <p>Please feel free to get in touch if you might be interested in working together.</p>

    </div>
  </div>


  <div class="textBG">
    <div class="textBG-content">

      <h2>This Pale Fire - Alchemy (Album Production)</h2>

      <div class="videoWrapper">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/P2ZZLRMP3hg?controls=0" title="YouTube video player: Float Out by This Pale Fire music video" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      
      <p class="pad-top">Corban Koschak, aka <i>This Pale Fire</i>, aka one of my favourite songwriters, approached me looking to imbue some of my style into the production of his song <i>Northern Lights</i>. What began as one song turned into an opportunity to produce his stunning album <i>Alchemy</i>.</p>

      <p class="pad-bottom">During the project Corban traveled up most weekends to my <a href="/studio">recording studio</a> north of Auckland, each time with the core of a new song. We would develop and arrange the songs together over each weekend, transforming them from solo acoustic songs into what you now hear on the album.</p>

      <div class="videoWrapper">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/FC3kgfL3Xms?controls=0" title="YouTube video player: Northern Lights by This Pale Fire music video" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

    </div>
  </div>


  <div class="textBG darker-background">
    <div class="textBG-content">

      <h2>Toward the Sun - Collaboration with Rhian Sheehan</h2>

      <div class="videoWrapper">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/BZKN34DKTqI?controls=0" title="YouTube video player: Toward the Sun by Rhian Sheehan" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

      <p class="pad-top">Rhian Sheehan has been a huge influence on me since I discovered his music in 2009, and a couple of years ago we finally got to work together in a dream collaboration for me. We traded the spark of an idea back and forth until eventually it grew into <i>Toward the Sun</i>, released on Rhian’s album <a href="https://rhiansheehan.bandcamp.com/album/a-quiet-divide"><i>A Quiet Divide</i></a>.</p>

      <p>Every time I received a new version from him it was filled with beautifully subtle tweaks along with wonderfully surprising changes, and the music moved me more and more as the piece evolved. It was incredible.</p>
    </div>
  </div>


  <div class="textBG">
    <div class="textBG-content">

      <h2>Suren Unka - EP Collaboration</h2>

      <div class="videoWrapper">
        <iframe title="Live performance video with Suren Unka" src="//player.vimeo.com/video/176530415?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="1024" height="576" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>

      <p>I worked with electronic producer Suren Unka to create our <a href="https://surenunka.bandcamp.com/album/5-8"><i>5/8</i> EP</a>, and here we are performing it live in studio.</p>

      <p>While we both worked together on all elements, Suren focused on the beats and synth sound design, while I worked more closely on the melodies, harmonies, and acoustic instrumention to produce this dynamic ambient house record together.</p>
    </div>
  </div>

  <div class="music-discography darker-background">

    <h2>Featured Reworks</h2>

    <p>When I approach a rework/remix project I typically ask myself what I would create if I had come up with the original parts, which always inspires me. It's also a special privilege to tear apart and rebuild someone's creation, so I always try to add my style while maintaining the essence of the original version.</p>

    <p>Here are three recent examples of my reworks for three talented musicians.</p>

    <div class="music-discography-grid">

      <div class="bandcamp-tile">
        <iframe src="https://bandcamp.com/EmbeddedPlayer/album=3796149673/size=large/bgcol=ffffff/linkcol=333333/minimal=true/track=4238460548/transparent=true/" seamless><a href="https://bigoandtwigetti.bandcamp.com/album/in-the-half-light-reinterpretations">In The Half Light (reinterpretations) by Liam J Hennessy, Levi Patel</a></iframe>
      </div>

      <div class="bandcamp-tile">
        <iframe src="https://bandcamp.com/EmbeddedPlayer/album=4281417682/size=large/bgcol=ffffff/linkcol=333333/minimal=true/track=2168813612/transparent=true/" seamless><a href="https://alexsteward.bandcamp.com/album/afterglow">Afterglow by Alex Steward</a></iframe>
      </div>

      <div class="bandcamp-tile">
        <iframe src="https://bandcamp.com/EmbeddedPlayer/album=3712966771/size=large/bgcol=ffffff/linkcol=333333/minimal=true/transparent=true/" seamless><a href="https://modernarecords.bandcamp.com/album/sunrise-levi-patel-recomposition">Sunrise (Levi Patel Recomposition) by Tom Adams</a></iframe>
      </div>

    </div>

  </div>


  <div class="tile-grid-section">

    <div class="tile-grid">
      
      {% include music-tile.html %}

      {% include studio-tile.html %}

    </div>

  </div>


</div>

