---
layout: default
title: Levi Patel | Contact
---
  
  <div class="page-banner contact-page-banner">
    <div class="page-banner-text">
      <h1>Contact</h1>

      <p>I'm always happy to talk about my music, projects you're working on, licensing or 
        commission opportunities, or anything else that's on your mind.</p>

      <!-- To re-enable later -->
      <!-- <p>Please feel free to contact me at <a href="mailto:levi@levipatel.com">levi@levipatel.com</a>, 
        via social media, or on my <a href="https://discord.gg/HNSHRN7B88">discord</a> server.</p> -->

      <p>Please feel free to contact me at <a href="mailto:levi@levipatel.com">levi@levipatel.com</a>, 
        via social media, or on my discord server.</p>

      {% include email-header-button.html %}

    </div>
  </div>


  <div class="textBG" id="newsletter-contact">
    {% include mailchimp-signup-with-description.html %}
  </div>

  <div class="textBG darker-background" id="discord-contact">
    {% include discord-description.html %}
  </div>

  <div class="textBG" id="social-contact">
    {% include social-media-description.html %}
  </div>


  <div class="textBG darker-background" id="music-contact">
    {% include music-platforms-description.html %}
  </div>

{% include tile-grid.html %}



  