---
layout: default
---
<meta name="robots" content="noindex, nofollow">

<div class="textBG press-kit" >
  <div class="textBG-content">
  <h1>Levi Patel - Information Kit</h1>
  <p>Note: this page may include unreleased content, so please visit my <a href="/press-kit">Press Kit</a> if you're looking for publishable material only.</p>

  <div class="press-kit-section">
      <!-- <img src="images/press/levipatel3.png" alt="Levi Patel portrait photograph" /> -->
      <img src="images/press/LeviPatel-18.jpg" alt="Levi Patel portrait photograph" />
  </div>

  <div class="press-kit-section">
      <a class="press-photos-download-link" href="https://www.dropbox.com/sh/aj0ldqcyf504cdg/AAAQCb7l41AdkUOOGULXA1fha?dl=0" target="_blank" rel="noopener">Download Press Photos</a>

      {% include press-kit-icons.html %}
    </div>


  <div class="press-kit-section">
  <h2>Biography</h2>
    {% include biography-part-1.html %}

    {% include biography-part-2.html %}
  </div>


  <div class="press-kit-section">
    <h2>Highlights</h2>
    {% include press-kit-highlights.html %}
  </div>
   
  <div class="press-kit-section">
    <!-- <img src="images/press/levipatel18.png" alt="Levi Patel portrait photograph" /> -->
    <img src="images/press/LeviPatel-7.jpg" alt="Levi Patel portrait photograph" />
  </div>


  <div class="press-kit-section">
     <h2>Reviews</h2>
      {% include press-kit-reviews.html %}
  </div>


  <div class="press-kit-section">
    <h2>Videos</h2>

    <h3>Through Winter Eyes (Music Video)</h3>

    <div class="videoWrapper">
      <iframe title="Through winter eyes music video" src="https://player.vimeo.com/video/373814395?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="1024" height="576" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>

    <h3>Film Composition Showreel</h3>

    <div class="videoWrapper">
      <iframe title="Film composition showreel" src="https://player.vimeo.com/video/436989309?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="1024" height="576" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>

    <h3>Words Like First Light (Music Video)</h3>

    <div class="videoWrapper">
      <iframe title="Words like first light music video" src="https://player.vimeo.com/video/382518051?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="1024" height="576" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    

  </div>

  <div class="press-kit-section">
    <h2>Albums and EPs</h2>
    {% include press-kit-music-embeds.html %}

    <h2>Collaborations</h2>
    {% include press-kit-music-collab-embeds.html %}

  </div>


  <div class="press-kit-section">
    <h2>Credits</h2>

    <h3>Discography</h3>
    {% include credits-discography.html %}
    
    <p></p>

    <h3>Film</h3>
    {% include credits-film.html %}

    <p></p>
    
    <h3>Collaboration Highlights</h3>
    {% include credits-collaboration.html %}

    <h3>Commercial Clients</h3>
    {% include credits-commercial.html %}
    
    <p></p>
  </div>

  <div class="press-kit-section">
    <h2>Contact</h2>
    {% include press-kit-contact.html %}
  </div>
    

    <!-- <img src="images/press/levipatel18.png" style="width:100%; margin-left: auto; margin-right: auto; display: block;" alt="Levi Patel portrait photograph" /> -->
    <!-- <img src="images/press/LeviPatel-12.jpg" style="width:100%; margin-left: auto; margin-right: auto; display: block;" alt="Levi Patel portrait photograph" /> --><img src="images/press/LeviPatel-13.jpg" style="width:100%; margin-left: auto; margin-right: auto; display: block;" alt="Levi Patel portrait photograph" />

   </div>
  
  </div>


  

</div>

