---
layout: default
title: Levi Patel | Links
---
  
<div class="textBG">
	<div class="textBG-content link-page-content">

		<h1>Recent Links</h1>

		{% include icons-western.html %}
		{% include icons-chinese.html %}


		<ul class="link-tiles">

			<li>
				<a href="/release/migrations"><img src="/images/releases/migrations/migrations-cover.jpg"></a>
				<a href="/release/migrations" class="link-text">Jeremy Redmore and Levi Patel - Migrations (EP)</a>
			</li>

			<li>
				<a href="/release/beneath-the-sky"><img src="/images/releases/moshimoss/beneath-the-sky-cover.jpg"></a>
				<a href="/release/beneath-the-sky" class="link-text">Moshimoss & Levi Patel - Beneath the Sky (EP)</a>
			</li>

			<li>
				<a href="https://alayna.ffm.to/cherrytree"><img src="/images/links/cherry-tree.jpg"></a>
				<a href="https://alayna.ffm.to/cherrytree" class="link-text">Alayna - Cherry Tree (Producer and Co-Writer)</a>
			</li>

			<li>
				<a href="https://hypeddit.com/messagetobears/foldingleavesreworked">
					<img src="images/links/mtb-rework-album.jpg"></a>
				<a href="https://hypeddit.com/messagetobears/foldingleavesreworked" 
				class="link-text">Message to Bears - Folding Leaves Reworked (including my rework of <i>Wake Me</i>)</a>
			</li>

			<li>
				<a href="https://alexsteward.bandcamp.com/album/afterglow">
					<img src="images/links/afterglow.jpg"></a>
				<a href="https://alexsteward.bandcamp.com/album/afterglow" 
				class="link-text">Afterglow by Alex Steward, featuring my own remix</a>
			</li>

			<li>
				<a href="https://levipatel.bandcamp.com/album/its-snowing-outside-original-score">
					<img src="images/links/iso-score.jpg"></a>
				<a href="https://levipatel.bandcamp.com/album/its-snowing-outside-original-score" 
				class="link-text">It's Snowing Outside (Original Score)</a>
			</li>

		</ul>

	</div>

</div>

<div class="textBG darker-background">
{% include mailchimp-signup-with-description.html %}
</div>

<div class="textBG">
	{% include discord-description.html %}
</div>

<div class="textBG darker-background">
	{% include music-platforms-description.html %}
</div>

<div class="textBG">
{% include social-media-description.html %}
</div>

{% include tile-grid.html %}
