---
layout: default
---

<div class="music-page">

  <div class="page-banner music-page-banner">
    <div class="page-banner-text">
      <h1>My Music</h1>

      <p>Creating my own music is how I explore my emotions and the constantly circling sounds inside my head, usually through instrumental music ranging from intimate piano to expansive soundscapes. This playlist offers an introduction to my sound, or you can scroll down to see my music videos and full discography.</p>

      <iframe title="Introduction to Levi Patel music playlist" id="disco-playlist-7662938" name="disco-playlist-7662938" allowfullscreen frameborder="0" class="disco-embed" src="https://levipatel.disco.ac/e/p/7662938?download=false&s=2pVLMD2AcyFMx7tXVwmBPGrWd_k%3A8QWcgf9T&artwork=true&theme=white&color=%233282C2" width="480" height="395"></iframe>

    </div>
  </div>



  <div class="textBG">
    <div class="textBG-content">
      <div class="videoWrapper">
          <iframe title="Through Winter Eyes music video" src="https://player.vimeo.com/video/373814395?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="1024" height="576" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <p><i>Through Winter Eyes</i> is an intimate piano and cello duet from my album <a href="https://levipatel.bandcamp.com/album/a-shifting-lightness"><i>A Shifting Lightness</i></a>, featuring a breathtaking cello performance and accompanied by this beautiful video.</p>

        <!-- <p>Before recording I wasn’t sure if I would include this piece on <i>A Shifting Lightness</i>, with the demo version falling short of the emotion I felt late at night when I first wrote it. However, the breathtaking cello performance by James Bush (the also-talented Sophie Faber sits in for James) instilled so much life and sensitivity that now it captures the feeling perfectly.</p>

        <p>James arrived at the recording studio with a carefully annotated score, detailing how he wanted to deliver each phrase in order to get the most out of the composition. Every take sounded incredible to me but he kept pushing and finding more and more emotional depth within the music, taking it far beyond what I thought was possible with the piece. From the moment I heard the first line until the end of the session I was captivated.</p> -->
    </div>
  </div>

  <div class="textBG darker-background">
    <div class="textBG-content">
      <div class="videoWrapper">
          <iframe title="Words Like First Light music video" src="https://player.vimeo.com/video/382518051?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="1024" height="576" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
        <p><i>Words Like First Light</i> is a piece for a small orchestral ensemble taken from my album <a href="https://levipatel.bandcamp.com/album/a-shifting-lightness"><i>A Shifting Lightness</i></a>.</p>

        <p>I often hear musicians talk about how their best songs came naturally to them in minutes, but <i>Words Like First Light</i> began with an idea that took me two years to develop, through 12 major revisions and painstaking rearrangements. After all of that, it took me by surprise that this piece has become one of the ones I'm most proud of on the album.</p>
    </div>
  </div>

  <div class="music-discography">

    <h2>Discography</h2>

    <div class="music-discography-grid">

      <div class="bandcamp-tile">
        <iframe src="https://bandcamp.com/EmbeddedPlayer/album=2567089281/size=large/bgcol=ffffff/linkcol=333333/minimal=true/transparent=true/" seamless><a href="https://levipatel.bandcamp.com/album/a-shifting-lightness">A Shifting Lightness by Levi Patel</a></iframe>
      </div>

      <div class="bandcamp-tile">
        <iframe src="https://bandcamp.com/EmbeddedPlayer/album=1501021534/size=large/bgcol=ffffff/linkcol=333333/minimal=true/transparent=true/" seamless><a href="https://levipatel.bandcamp.com/album/affinity">Affinity by Levi Patel</a></iframe>
      </div>

      <div class="bandcamp-tile">
        <iframe src="https://bandcamp.com/EmbeddedPlayer/album=2933180407/size=large/bgcol=ffffff/linkcol=333333/minimal=true/transparent=true/" seamless><a href="https://levipatel.bandcamp.com/album/its-snowing-outside-original-score">It&#39;s Snowing Outside (Original Score) by Levi Patel</a></iframe>
      </div>

      <div class="bandcamp-tile">
        <iframe src="https://bandcamp.com/EmbeddedPlayer/album=535052867/size=large/bgcol=ffffff/linkcol=333333/minimal=true/transparent=true/" seamless><a href="https://levipatel.bandcamp.com/album/of-sleep-and-time">Of Sleep and Time by Levi Patel</a></iframe>
      </div>

      <div class="bandcamp-tile">
        <iframe src="https://bandcamp.com/EmbeddedPlayer/album=3934341197/size=large/bgcol=ffffff/linkcol=333333/minimal=true/transparent=true/" seamless><a href="https://levipatel.bandcamp.com/album/forms">Forms by Levi Patel</a></iframe>
      </div>

      <div class="bandcamp-tile">
        <iframe src="https://bandcamp.com/EmbeddedPlayer/album=2519630382/size=large/bgcol=ffffff/linkcol=333333/minimal=true/transparent=true/" seamless><a href="https://surenunka.bandcamp.com/album/5-8">5/8 by Levi Patel &amp; Suren Unka</a></iframe>
      </div>

    </div>

  </div>


  <div class="tile-grid-section">

  <div class="tile-grid">
    
    {% include collaboration-tile.html %}

    {% include film-tv-tile.html %}

  </div>

</div>


</div>

