---
layout: default
---

<div class="collaboration-page">

  <div class="page-banner studio-page-banner">
    <div class="page-banner-text">
      <h1>Recording Studio and Audio Engineering</h1>

      <p>I'm a technically minded person (read: nerd) and the engineering side of music and audio appeals to me just as much as the creation side. I am fortunate to have my own studio to work from, where I record and mix music and film audio.</p>

    </div>
  </div>


  <div class="textBG">
    <div class="textBG-content">

      <img src="images/studio/couch-area-landscape.jpg" alt="recording studio interior with view outside to a valley">

      <p>Located one hour north of Auckland, New Zealand, the studio was acoustically engineered by Tim Farrant, lovingly built over a summer, and upgraded in early 2021. It's both an intimate yet high quality production room as well as a creative retreat, with the surrounding landscape offering a quiet space to think and write.</p>

      <img src="images/studio/hills.jpg" alt="black and white photography of toetoe plant in front of valley and range of hills">

      <p>This is where I spend 90% of my time, it's a difficult place to leave. I have also enjoyed working here with talented artists such as This Pale Fire, Gala George (pictured below), Suren Unka, and Jeremy Redmore.</p>

      <img src="images/studio/gala-piano-bw.jpg" alt="Gala George playing upright piano in recording studio">

      <img src="images/studio/horses.jpg" alt="horses grazing in hilltop paddocks">

      <p>And what studio is complete without some resident horses?</p>

      <img src="images/studio/sitting-at-desk.jpg" alt="Levi Patel working at recording studio desk">

      <p>Special thanks to my friend <a href="https://www.instagram.com/sam_takesphotos/">Sam Clarke</a> for these photographs.</p>

    </div>
  </div>


  <div class="tile-grid-section">

  <div class="tile-grid">
    
    {% include music-tile.html %}

    {% include collaboration-tile.html %}

  </div>

</div>


</div>

