@charset "UTF-8";

body {
	margin: 0;
	font-size: 1.2em;
	line-height: 1.4;
	background-attachment: fixed;
	font-family: "Verlag Light";
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	background: url(images/bg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	/* Keep footer at bottom of all pages */
	display: flex;
	flex-direction: column;
}

html, body {
  height: 100%;
}

.page-content {
  flex: 1 0 auto; /* Keep footer at bottom of all pages */
}

html, button, input, select, textarea {
	font-family: "Verlag Light";
	color: #222;
}

a {
	color: #000000;
	text-decoration: underline;
	font-style: italic;
	transition-duration: 0.2s;
}

a:link{
	color: #000000;
}

a:visited {
	color: #000000;
}

a:hover {
	color: #A4A4A4;
}

a:active {
	color: #A4A4A4;
}

/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

.fluid {
	clear: both;
	margin-left: 0;
	width: 100%;
	float: left;
	display: block;
}

.fluidList {
	list-style:none;
	list-style-image:none;
	margin:0;
	padding:0;        
}


/* Mobile version of the drop down menu */
#dropdownmobile	{
	width: 100%;
	height: 30px; 
	margin-left: 0;
	margin-left: 0;
	margin: 0; /* space between sides of the screen and the menu */
	z-index: 999999;
	position: relative; 
	background-color: transparent;
}
.navbar	{
	height: 30px;
	padding: 0;
	margin: 0;
	position: relative;
}
.navbar li ul 	{
	display: none;  /* Hides the drop-down items */
	height: auto;									
	margin: 0;
	padding: 0;
	width: inherit;	
	position: absolute;	
}				
.navbar li ul li a 	{
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.navbar li:hover ul {
	display: block; /* Displays the drop-down box when the menu item is hovered over */
}
.navbar a	{							
	padding: 6px 0;  /* Adds a padding on the top and bottom so the text appears centered vertically */
	border-left: 1px solid rgba(0, 0, 0, 0.1); /* Creates a border in a slightly lighter shade of blue than the background.  Combined with the right border, this creates a nice effect. */
	border-right: 1px solid rgba(0, 0, 0, 0.1); /* Creates a border in a slightly darker shade of blue than the background.  Combined with the left border, this creates a nice effect. */
	text-decoration: none;  /* Removes the default hyperlink styling. */
	display: block;
	font-size: 0.8em;
	font-style: normal;
}
.navbar li 	{
	height: auto;
	width: 33.333%;  /* Each menu item is 150px wide */
	float: left;  /* This lines up the menu items horizontally */
	text-align: center;  /* All text is placed in the center of the box */
	list-style: none;  /* Removes the default styling (bullets) for the list */
	padding: 0;
	margin: 0;
	background-color: rgba(255, 255, 255, 0.9);
}





/* Tablet version of the drop down meny */
#dropdowntablet	{
	width: 100%; /* Spans the width of the page */
	height: 40px; 
	margin-left: 0;
	margin-left: 0;
	margin: 0; /* Ensures there is no space between sides of the screen and the menu */
	z-index: 999999; /* Makes sure that your menu remains on top of other page elements */
	position: relative; 
	background-color: transparent;
	display: none;
}
.navbartablet	{
	height: 40px;
	padding: 0;
	margin: 0;
	position: relative; /* Ensures that the menu doesn’t affect other elements if absolute */
}
.navbartablet li ul 	{
	display: none;  /* Hides the drop-down menu */
	height: auto;									
	margin: 0; /* Aligns drop-down box underneath the menu item */
	padding: 0; /* Aligns drop-down box underneath the menu item */	
	width: inherit;	
	position: absolute;	
}				
.navbartablet li ul li a 	{
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.navbartablet li:hover ul 	{
	display: block; /* Displays the drop-down box when the menu item is hovered over */
}
.navbartablet a	{							
	padding: 10px 0;  /* Adds a padding on the top and bottom so the text appears centered vertically */
	border-left: 1px solid rgba(0, 0, 0, 0.1); /* Creates a border in a slightly lighter shade of blue than the background.  Combined with the right border, this creates a nice effect. */
	border-right: 1px solid rgba(0, 0, 0, 0.1); /* Creates a border in a slightly darker shade of blue than the background.  Combined with the left border, this creates a nice effect. */
	text-decoration: none;  /* Removes the default hyperlink styling. */
	display: block;
	font-size: 1em;
	font-style: normal;
}
.navbartablet li 	{
	height: auto;
	width: 25%;  /* Each menu item is 150px wide */
	float: left;  /* This lines up the menu items horizontally */
	text-align: center;  /* All text is placed in the center of the box */
	list-style: none;  /* Removes the default styling (bullets) for the list */
	padding: 0;
	margin: 0;
	background-color: rgba(255, 255, 255, 0.9);
}



/* Page Banner */
.page-banner {
	width: 100%;
	display: flex;
  background: url(images/banners/levipatel18-dark.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.page-banner a {
	text-decoration: none;
	font-style: normal;
	color: white;
}

.page-banner a:hover {
	color: rgba(255, 255, 255, 0.8);
}

.music-page-banner {
	background: url(images/banners/levipatel17.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.collaboration-page-banner {
	background: url(images/banners/studio-levi-gala-dark.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.studio-page-banner {
	background: url(images/banners/studio-banner-dark.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.film-page-banner {
	background: url(images/banners/film-banner.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.contact-page-banner {
	background: url(images/banners/levipatel22-dark.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.about-page-banner {
	background: url(images/banners/levipatel7-dark.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.page-banner-text {
	color: white;
	max-width: 680px;
	margin: auto;
	padding: 5%;
}

.home-page-banner .page-banner-text {
	max-width: 640px;
}

.page-banner-text h1 {
	font-size:  1.1em;
}

.page-banner iframe {
	width: 100%;
	border-radius: 3px;
}

.page-banner iframe .embed-footer__border {
	display:  none;
}



/* Tile Grid */

.tile-grid-section {
	background: rgba(255, 255, 255, 0.9);
}

.tile-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 30px 0;
	max-width: 1200px;
	margin: 0 auto;
}

.tile-grid .tile {
	width: 650px;
	height: 300px;
	max-width: 100%;
	margin: 1.5rem;
	text-align: center;
	position: relative;
	border-radius: 10px;
}

.tile-grid .tile:hover {
	transition-duration: 0.3s;
}

.tile-grid .tile img {
	width: 96%;
	height: 96%;
	transition-duration: 0.3s;
	object-fit: cover;
	filter: brightness(0.5);
	border-radius: 3px;
	box-shadow: 0 4px 12px #241c151f;
}

.tile-grid .tile h2 {
	color:  white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
	font-style: normal;
	font-size: 1.5em;
}

.tile-grid .tile:hover img {
	width: 100%;
	height: 100%;
	filter: brightness(0.8);
}




.videoContainer {
	text-align:center;
	background:rgba(255, 255, 255, 0.9);
}

.video-content {
	max-width: 980px;
	margin: 0 auto;
	padding: 3%;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}



.textBG {
	padding: 5%;
	background: rgba(255, 255, 255, 0.9);
	overflow: auto;
	border-radius: 2px;
}

.darker-background {
	background: rgba(255, 255, 255, 0.8);
}

.textBG-content {
	max-width: 980px;
	margin: 0 auto;
	padding: 3% 0;
}

.textBG-content  h2{
	margin-top: 0.3em;
}

.textBG-content p {
	max-width: 850px;
}

.textBG-content img {
	margin-top: 15px;
	margin-bottom: 15px;
}



/* ----- Mailchimp ------ */

.mailchimp-minimal {
    display: flex;
    justify-content: center;
}

/* Prevent email field overflowing on tiny screens */
.mailchimp-minimal #mc_embed_signup, .mailchimp-minimal #mc_embed_signup form .mailchimp-text-input {
    max-width: 92%;
}

.mailchimp-full #mc_embed_signup {
	max-width: 80%;
	padding: 30px 20px;
	margin-top: 30px;
	border-radius: 6px;
	background-color: rgba(255, 255, 255, 0.8);;
	box-shadow: 0 4px 12px #241c151f;
	transition: all .3s ease-in-out;
	width: fit-content;
}

@media only screen and (min-width: 310px) {
	.mailchimp-full #mc_embed_signup {
			max-width: 100%;
	}
}

@media only screen and (min-width: 490px) {
	.mailchimp-full #mc_embed_signup {
		padding: 30px 32px;
	}
}

/* Specific size just for this rule */
@media only screen and (min-width: 610px) {
	.mailchimp-full #mc_embed_signup {
		padding: 30px 90px;
	}
}

.mailchimp-full #mc_embed_signup form {
	padding-top: 0;
}

.mailchimp-full #mc_embed_signup form .mc-field-group,
	.mailchimp-minimal #mc_embed_signup form .mc-field-group {
	position: relative;
}

.mailchimp-full #mc_embed_signup form .mc-field-group {
	padding-bottom: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	max-width: 500px;
}

.mailchimp-full #mc_embed_signup form .mc-field-group label {
	min-width: 124px;
	text-align: center;
}

#mc_embed_signup form .mc-field-group label.inside-label {
	position: absolute;
  top: 2px;
  left: 6px;
  font-size: small;
}

@media only screen and (min-width: 490px) {
	.mailchimp-full #mc_embed_signup form .mc-field-group {
		justify-content: unset;
		flex-wrap: nowrap;
	}

	.mailchimp-full #mc_embed_signup form .mc-field-group label {
		width: 130px;
		text-align: left;
	}
}

/* All form text input */
.mailchimp-full #mc_embed_signup form .mailchimp-text-input,
	.mailchimp-minimal #mc_embed_signup form .mailchimp-text-input {
	border-color: #E8E8E8;
	border-style: solid;
	border-width: 1px;
	border-radius: 4px;
}

/* Large form text input */
.mailchimp-full #mc_embed_signup form .mailchimp-text-input {
	background-color: white;
	width: 216px;
	max-width: 95%;
	line-height: 1.6;
}

/* Minimal form text input */
.mailchimp-minimal #mc_embed_signup form .mailchimp-text-input {
	background-color: rgba(255, 255, 255, 0.8);
	padding: 20px 8px 3px 8px;
  width: 220px;
  max-width: 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

@media only screen and (min-width: 490px) {
	.mailchimp-minimal #mc_embed_signup form .mailchimp-text-input {
		border-right: none;
	  border-top-right-radius: 0;
	  border-bottom-right-radius: 0;
	  border-bottom-left-radius: 4px;
	}
}


/* Text field after invalid submission */
.mailchimp-full #mc_embed_signup form .mc-field-group input.mce_inline_error,
	.mailchimp-minimal #mc_embed_signup form .mc-field-group input.mce_inline_error {
	background-color: #f0dddd;
}

/* Help text beneath invalid text field */
.mailchimp-full #mc_embed_signup form .mc-field-group div.mce_inline_error {
	background-color: #999;
	margin-top: 1em;
	margin-bottom: 0;
}

.mailchimp-minimal #mc_embed_signup form .mc-field-group div.mce_inline_error {
	background-color: #444;
}


.mailchimp-full #mc_embed_signup .submit-button-container {
	text-align: center;
	margin-top: 10px;
	display: flex;
}


/* All subscribe buttons */
.mailchimp-minimal #mc_embed_signup .submit-button-container #mc-embedded-subscribe, 
	.mailchimp-full #mc_embed_signup .submit-button-container #mc-embedded-subscribe {
	text-transform: uppercase;
	font-weight: bold;
	font-size: medium;
	border-style: solid;
	border-width: 1px;
	border-color: rgba(0, 0, 0, 0.4);
	transition: 0.3s;
	color: #222;
	height: fit-content;
	max-width: 100%;
}

/* Large form subscribe button only */
.mailchimp-full #mc_embed_signup .submit-button-container #mc-embedded-subscribe {
	display: block;
	padding: 14px 26px;
	border-radius: 4px;
	width: 222px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(255, 255, 255, 0.9) !important;
}

/* Minimal form subscribe button only */
.mailchimp-minimal #mc_embed_signup .submit-button-container #mc-embedded-subscribe {
	padding: 14.5px 24px;
  color: white;
  background-color: rgba(20, 20, 20, 0.85);
  width: 236px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

@media only screen and (min-width: 490px) {
	.mailchimp-full #mc_embed_signup .submit-button-container #mc-embedded-subscribe {
		width: auto;
		padding: 14px 46px;
		margin-left: 0;
		margin-right: 0;
	}

	.mailchimp-minimal #mc_embed_signup .submit-button-container #mc-embedded-subscribe {
		width: auto;
		border-top-left-radius: 0;
	  border-bottom-left-radius: 0;
	  border-top-right-radius: 4px;
	  border: none;
	}
}


/* Full size subscription button on hover */
.mailchimp-full #mc_embed_signup .submit-button-container #mc-embedded-subscribe:hover {
	background-color: #E9E9E9E9 !important;
}

/* Minimal subscription button on hover */
.mailchimp-minimal #mc_embed_signup .submit-button-container #mc-embedded-subscribe:hover {
	background-color: rgba(80, 80, 80, 0.85);
}


@media only screen and (min-width: 490px) {
	.mailchimp-minimal #mc_embed_signup_scroll {
		display: flex;
	}
}


/* ---- Discord Button ----- */

.discord-button {
	display: block;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	font-size: medium;
	font-style: normal;
	transition: 0.3s;
	color: #222;
	height: fit-content;
	padding: 14px 26px;
	border-radius: 4px;
	width: fit-content;
	margin-top: 24px;
	box-shadow: 0 4px 12px #241c151f;
	background-color: rgba(255, 255, 255, 0.75);
}

.discord-button:hover {
	color: #222;
	background-color: rgba(235, 235, 235, 0.75);
}


/* ------ Discography ------ */

.music-discography {
	background: rgba(255, 255, 255, 0.9);
	padding-top: 40px;
	padding-bottom: 30px;
}

.music-discography.darker-background {
	background: rgba(255, 255, 255, 0.8);
}

.music-discography h2 {
	text-align: center;
	margin-top: 0;
	margin-bottom: 0.5em;
}

.music-discography p {
	max-width: 800px;
	margin: 0 auto;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 10px;
}

.music-discography-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 1300px;
	margin: 0 auto;
}

.music-discography .bandcamp-tile {
	margin: 6%;
}

.music-discography .bandcamp-tile iframe {
	border: 0;
	width: 230px;
	height: 230px;
	max-width: 100%;
	border-radius: 2px;
}


img {
	max-width: 100%;
}

p.pad-top {
	padding-top: 15px;
}

p.pad-bottom {
	padding-bottom: 15px;
}

ul.list-unstyled {
	list-style: none;
	margin-top: 0.6em;
	margin-bottom: 1.5em;
}

.list-no-indent {
	padding-left: 0;
}

.list-spaced li {
	margin-bottom: 0.6em;
}


/* Press Kit */
.press-kit-section, .content-section {
	padding-bottom: 25px;
}

/* Not entire screen size section, just for one specific rule */
@media only screen and (min-width: 651px) {
	.press-kit-section, .content-section {
		padding-bottom: 30px;
	}
}


.press-kit-music .videoWrapper {
	margin-bottom: 44px;
}

.press-kit-music iframe {
	padding-right: 8px;
	padding-bottom: 15px;
}

/* Not entire screen size section, just for one specific rule */
@media only screen and (min-width: 490px) {
	.press-kit-music iframe {
		padding-right: 22px;
		padding-bottom: 22px;
	}
}

.press-kit-music .videoWrapper iframe {
	max-width: 878px;
}



.press-kit-contact {
	padding-bottom: 50px;
}
.press-kit-contact p {
	margin: 0;
}

.press-kit-icons {
	display: inline-block;
	clear: both;
	padding-top: 28px;
}

.press-kit-icons img {
	max-height: 36px;
	padding-right: 16px;
	padding-bottom: 10px;
	float: left;
}

.press-photos-download-link {
	display: inline-block;
	margin-top: 20px;
	padding: 1em 1.5em;
  	background-color: transparent;
  	color: #444;
  	box-shadow: 0 5px 10px lightgrey;
  	border: solid 2px #444;
  	border-radius: 2rem;
  	text-decoration: none;
  	transition: 0.3s;
  	font-style: normal;
  	font-weight: bold;
}

.press-photos-download-link:hover {
	background-color: #444;
	color: white;
}

/* Special case for press photos, not general screen size section of css */
@media only screen and (min-width: 651px) {
	.press-photos-download-link {
		float: right;
	}
}

.page-banner-text {
	padding: 14% 5%;
}

.page-banner-text h1 {
	font-size:  1.5em;
	margin-top: 0.4em;
}




/* Link Tiles (Linktree style) */
.textBG-content.link-page-content {
	text-align: center;
	overflow: hidden;
	max-width: 800px;
}

.textBG-content.link-page-content h1 {
	text-align: center;
}

@media only screen and (min-width: 814px) {
	.textBG-content.link-page-content {
		text-align: left;
	}
}

ul.link-tiles {
	list-style: none;
	padding-left: 0;
}

ul.link-tiles li {
	margin-bottom: 2rem;
}

ul.link-tiles li:last-of-type {
	padding-bottom: 0;
}

ul.link-tiles img {
	max-height: 256px;
	margin-bottom: 0.6rem;
}

@media only screen and (min-width: 814px) {
	ul.link-tiles img {
		max-height: 264px;
	}
}

@media only screen and (min-width: 960px) {
	ul.link-tiles img {
		max-height: 300px;
	}
}

@media only screen and (min-width: 481px) {
	ul.link-tiles img {
		margin-right: 1.5rem;
	}
}

@media only screen and (min-width: 960px) {
	ul.link-tiles img {
		margin-right: 2.5rem;
	}
}

ul.link-tiles a {
	display: inline-block;
	padding-bottom: 0.5rem;
	font-size: 1.4rem;
}

a.link-text {
	width: 410px;
	max-width: 100%;
}




/* Release Page */
.release-page {
	text-align: center;
}

.release-introduction h1 {
	font-size: 1.2em;
}

@media only screen and (min-width: 814px) {
	.release-introduction h1 {
		margin-top: 0;
		margin-bottom: 0;
		font-size: 1.5em;
	}

	.release-introduction h3 {
		margin-top: 10px;
	}
}

.release-intro-text {
	margin: 0 auto;
	max-width: 700px;
}

img.release-artwork {
	max-height: 300px;
}

@media only screen and (min-width: 814px) {
	img.release-artwork {
		max-height: 400px;
	}
}

.release-links {
	text-align: left;
	max-width: 250px;
	margin: 0 auto;
}

ul.release-links li {
	padding-bottom: 0;
}

.release-links img {
	width: 60px;
}


/* Simple Sharing Buttons social media sharing icons, primarily for Blog */
ul.share-buttons{
  list-style: none;
  padding: 0;
  float: right;
  margin: 0;
}

ul.share-buttons li{
  display: inline;
}

ul.share-buttons img {
	margin-top: 0;
	margin-bottom: 0;
}

ul.share-buttons .sr-only{
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.share-text {
	float: right;
	margin: 5px 7px 0 0;
}



.navfont {
	font-size: 0.8em;
	font-style: normal;
}

.grid-container {
	clear: none;
	float: none;
}


#mainheader {
	background-color: rgba(255,255,255,0.70);
	position: relative;
	top: 0;
	overflow: hidden;
}

#mainheader #navigation {
	float: right;
	margin-right: 3rem;
}

.logo-header {
	display: inline-block;
}

#mainnav {
	background-color: rgba(255,255,255,0.70);
}

div#contact {
	font-size: 1em;
}

.main-section {
	clear: both;
	margin-left: 0;
}

#homemainsection {
	clear: both;
	margin-left: 0;
}

#footer {
	background-color: rgba(255,255,255,0.70);
	padding: 1.8rem 0;
	text-align: center;
	flex-shrink: 0; /* Keep footer on the bottom of pages with little content */
}

#footer .footer-email {
	padding-top: 16px;
}

#footer .footer-email a {
	text-decoration: none;
	font-style: normal;
	font-size: 21px;
}

#footer .footer-email a:hover {
	color: #7F7F7F;
}


#icons {
	position: relative;
	display: inline-block;
}

.icon {
	width: 20%;
	height: 20%;
	max-width: 30px;
	max-height: 30px;
	padding: 0 5px;
	transition-duration: 0.3s;
}

@media only screen and (min-width: 350px) {
	.icon {
		max-width: 33px;
		max-height: 33px;
		padding: 0 6px;
	}
}

@media only screen and (min-width: 490px) {
	.icon {
		max-width: 36px;
		max-height: 36px;
		padding: 0 8px;
	}
}

.icon:hover {
	filter: brightness(2);
}

.menuitem {
	text-align: center;
	width: 10%;
	clear: right;
}
.currentmenuitem {
	text-align: center;
	width: 10%;
	clear: right;
	background-color: rgba(255,255,255,0.80);
}

.navmenuitem {
	text-align: center;
	width: 12%;
	min-width: 91px;
	clear: right;
	max-width: 140px;
	padding: 2.8rem 0;
}

#currentnav {
	background-color: rgba(246,245,242,0.80);
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-top-color: rgba(218,218,218,1.00);
}

#clear {
	padding-top: 23px;
}

.grid-container.clearfix {
	width: 100%;
	min-height: 0px;
}

.song {
	clear: right;
	padding-top: 2%;
	padding-right: 2%;
	padding-bottom: 2%;
	padding-left: 2%;
	width: 45%;
}

.zeroMargin_mobile {
	margin-left: 0;
}
.hide_mobile {
	display: none;
}

#logo {
	width:38%;
	max-width: 198px;
	height: 100%;
}


#mainnav {
	display: none;
}
#mainnav a {
	text-decoration: none;
}

div.spotify-player{
	width: 100%;
	text-align: center;
}

div.spotify-player iframe{
	margin: 0 auto;
	display: inline-block;
	width: 100%;
}




/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {

	#dropdownmobile {
		display: none;
	}

	#dropdowntablet {
		display: block;
	}

	#mainnav {
		display: none;
	}

	.page-banner-text {
		padding: 14% 3rem;
	}

	.tile-grid {
		padding: 40px 0;
	}

	.tile-grid .tile {
		margin: 2rem;
	}

	.tile-grid .tile h2 {
		color:  white;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		margin: 0;
		font-style: normal;
		font-size: 1.8em;
	}


	.music-discography h2 {
		font-size: 2em;
	}

	.music-discography .bandcamp-tile {
		margin: 30px;
	}

	.music-discography .bandcamp-tile iframe {
		width: 300px;
		height: 300px;
	}

	.navfont {
		font-size: 0.9em;
	}

	.videoContainer {
		text-align:center;
		background:rgba(255, 255, 255, 0.9);
	}

	.videoContainer p {
		padding-left: 20px;
		padding-right: 20px;
	}

	.video-content {
		padding-bottom: 2%;
		padding-left: 3%;
		padding-right: 3%;
	}

	.grid-container {
		clear: none;
		float: none;
	}

	.main-section {
		clear: both;
		margin-left: 0;
	}

	#homemainsection {
		clear: both;
		margin-left: 0;
	}

	.textBG {
		padding: 0;
		width: 100%;
	}

	.textBG-content {
		padding: 50px 40px;
	}

	.hide_tablet {
		display: none;
	}
	.zeroMargin_tablet {
		margin-left: 0;
	}

}



/* Desktop Layout: Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 814px) {

	#dropdownmobile {
		display: none;
	}

	#dropdowntablet {
		display: none;
	}

	#mainnav {
		display: inline;
	}

	.page-banner {
		min-height: 680px;
	}

	.home-page-banner {
		height: 80vh;
	  max-height: 780px;
	}

	.page-banner-text {
		padding: 50px;
	}

	.page-banner-text p {
		font-size: 1.3em;
	}

	.tile-grid .tile {
		width: 500px;
	}

	ul.share-buttons {
		margin-right: 8rem;
	}

	.music-discography {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.music-discography .bandcamp-tile iframe {
		width: 340px;
		height: 340px;
	}

	.navfont {
		font-size: 0.9em;
	}

	.videoContainer {
		text-align:center;
		background:rgba(255, 255, 255, 0.9);
	}

	.video-content {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	#footer {
		padding: 1.5rem 0;
	}

		.grid-container {
		clear: none;
		float: none;
	}

	.main-section {
		clear: none;
	}

	#homemainsection {
		width: 98%;

		clear: none;
		background-color: undefined;
	}

	.zeroMargin_desktop {
		margin-left: 0;
	}

	.hide_desktop {
		display: none;
	}

	#logo {
		width:198px;
		margin-left: 1rem;
	}

	img.half-width {
		max-width: 48%;
	}
	
}

/* Bootstrap large equivalent */
@media only screen and (min-width: 960px) {
	.song {
		width: 28%;
	}
	.navmenuitem {
		min-width: 100px;
	}

	.music-discography .bandcamp-tile iframe {
		width: 350px;
		height: 350px;
	}

}
