@charset "UTF-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {

}

/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		4;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	12;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

.fluid {
	clear: both;
	margin-left: 0;
	width: 100%;
	float: left;
	display: block;
}

.fluidList {
    list-style:none;
    list-style-image:none;
    margin:0;
    padding:0;        
}

div.videoContainer {
	text-align:center;
	background:rgba(255, 255, 255, 0.9);
	padding-bottom: 1%;
	}

	div.musicContainer {
		text-align:center;
	background:rgba(255, 255, 255, 0.9);
	padding-bottom: 1%;
	}
	
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.musicWrapper {
	position: relative;
	padding-bottom: 160%;
	padding-top: 25px;
	height: 0;
}
.musicWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/*
	max-width: 350px;
	max-height: 442px;
	*/
}
h2 {
	/* text-transform: uppercase; */
}
#icons {
    position: relative;
    float: right;
    top: 0.5em;
    right: 0.1em;
    display: block;
    width: 58%;
    max-width: 180px;
}
.icon {
	width: 20%;
	height: 20%;
	max-width: 36px;
	max-height: 36px;
}



/* Mobile version of the drop down menu */
#dropdownmobile	{
	width: 100%;
	height: 30px; 
	margin-left: 0;
	margin-left: 0;
	margin: 0; /* space between sides of the screen and the menu */
	z-index: 999999;
	position: relative; 
	background-color: transparent;
}
.navbar	{
	height: 30px;
	padding: 0;
	margin: 0;
	position: relative;
}
.navbar li ul 	{
		display: none;  /* Hides the drop-down items */
		height: auto;									
		margin: 0;
		padding: 0;
		width: inherit;	
		position: absolute;	
		}				
.navbar li ul li a 	{
		/*border-left: 1px solid rgba(0, 0, 0, 0.1);
		border-right: 1px solid rgba(0, 0, 0, 0.1);*/
		border-top: 1px solid rgba(0, 0, 0, 0.1);
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		}
.navbar li:hover ul 	{
                        display: block; /* Displays the drop-down box when the menu item is hovered over */
                        }
.navbar a	{							
		padding: 6px 0;  /* Adds a padding on the top and bottom so the text appears centered vertically */
		border-left: 1px solid rgba(0, 0, 0, 0.1); /* Creates a border in a slightly lighter shade of blue than the background.  Combined with the right border, this creates a nice effect. */
		border-right: 1px solid rgba(0, 0, 0, 0.1); /* Creates a border in a slightly darker shade of blue than the background.  Combined with the left border, this creates a nice effect. */
		text-decoration: none;  /* Removes the default hyperlink styling. */
		display: block;
		font-size: 0.8em;
		font-style: normal;
		}
.navbar li 	{
	height: auto;
	width: 33.333%;  /* Each menu item is 150px wide */
	float: left;  /* This lines up the menu items horizontally */
	text-align: center;  /* All text is placed in the center of the box */
	list-style: none;  /* Removes the default styling (bullets) for the list */
	padding: 0;
	margin: 0;
	background-color: rgba(255, 255, 255, 0.9);
}





/* Tablet version of the drop down meny */
#dropdowntablet	{
	width: 100%; /* Spans the width of the page */
	height: 40px; 
	margin-left: 0;
	margin-left: 0;
	margin: 0; /* Ensures there is no space between sides of the screen and the menu */
	z-index: 999999; /* Makes sure that your menu remains on top of other page elements */
	position: relative; 
	background-color: transparent;
	display: none;
}
.navbartablet	{
	height: 40px;
	padding: 0;
	margin: 0;
	position: relative; /* Ensures that the menu doesn’t affect other elements if absolute */
}
.navbartablet li ul 	{
		display: none;  /* Hides the drop-down menu */
		height: auto;									
		margin: 0; /* Aligns drop-down box underneath the menu item */
		padding: 0; /* Aligns drop-down box underneath the menu item */	
		width: inherit;	
		position: absolute;	
		}				
.navbartablet li ul li a 	{
		/*border-left: 1px solid rgba(0, 0, 0, 0.1);
		border-right: 1px solid rgba(0, 0, 0, 0.1);*/
		border-top: 1px solid rgba(0, 0, 0, 0.1);
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		}
.navbartablet li:hover ul 	{
                        display: block; /* Displays the drop-down box when the menu item is hovered over */
                        }
.navbartablet a	{							
		padding: 10px 0;  /* Adds a padding on the top and bottom so the text appears centered vertically */
		border-left: 1px solid rgba(0, 0, 0, 0.1); /* Creates a border in a slightly lighter shade of blue than the background.  Combined with the right border, this creates a nice effect. */
		border-right: 1px solid rgba(0, 0, 0, 0.1); /* Creates a border in a slightly darker shade of blue than the background.  Combined with the left border, this creates a nice effect. */
		text-decoration: none;  /* Removes the default hyperlink styling. */
		display: block;
		font-size: 1em;
		font-style: normal;
		}
.navbartablet li 	{
	height: auto;
	width: 25%;  /* Each menu item is 150px wide */
	float: left;  /* This lines up the menu items horizontally */
	text-align: center;  /* All text is placed in the center of the box */
	list-style: none;  /* Removes the default styling (bullets) for the list */
	padding: 0;
	margin: 0;
	background-color: rgba(255, 255, 255, 0.9);
}







div.textBG {
	padding:3%;
	background: rgba(255, 255, 255, 0.7);
	overflow: auto;
}

#artlist {
	background: rgba(255, 255, 255, 0.7);
}


/* Mobile Layout: 480px and below. */
  
.navfont {
	font-size: 0.8em;
	font-style: normal;
}
.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 86.45%;

	clear: none;
	float: none;
}
#mainheader {
	background-color: rgba(255,255,255,0.70);
	position: relative;
	top: 0;
	overflow: hidden;
}
#mainnav {
	background-color: rgba(255,255,255,0.70);
}
#sidecontent {
	bottom: 0;
	background-color: rgba(255,255,255,0.70);
	display:none;
}
div#contact {
	font-size: 0.9em;
}
#mainsection {
	clear: both;
	margin-left: 0;
}
#homemainsection {
	clear: both;
	margin-left: 0;
}
#footer {
	bottom: 0;
	position: fixed;
	color: #FFFFFF;
}

.menuitem {
	text-align: center;
	width: 10%;
	clear: right;
}
.currentmenuitem {
	text-align: center;
	width: 10%;
	clear: right;
    background-color: rgba(255,255,255,0.80);
}

.navmenuitem {
	text-align: center;
	width: 12%;
	min-width: 100px;
	clear: right;
	max-width: 140px;
}

#currentnav {
	background-color: rgba(246,245,242,0.80);
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-top-color: rgba(218,218,218,1.00);
}

#clear {
	padding-top: 23px;
}
a {
	color: #000000;
	text-decoration: underline;
	font-style: italic;
}
a:link{
	color: #000000;
}
a:visited {
	color: #000000;
}
a:hover {
	color: #A4A4A4;
}
a:active {
	color: #A4A4A4;
}

.gridContainer.clearfix {
	width: 100%;
	min-height: 0px;
}

.bandcamp {
}
.song {
	clear: right;
	padding-top: 2%;
	padding-right: 2%;
	padding-bottom: 2%;
	padding-left: 2%;
	width: 45%;
}
.art {
	clear: right;
	padding-top: 2%;
	padding-right: 2%;
	padding-bottom: 2%;
	padding-left: 2%;
	width: 45%;
}
.art-intext {
		clear: right;
	float: left;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	width: 45%;
}
#songlist {
}
.socialmediaicons {
	position: fixed;
	top: 0;
	text-align: right;
	background-color: rgba(255,255,255,0.70);
}
.zeroMargin_mobile {
margin-left: 0;
}
.hide_mobile {
display: none;
}
#logo {
	width:38%;
	max-width: 198px;
}
#mc_embed_signup {
	width: 100%;
}

#mce-EMAIL {
	width: 97%;
	max-width: 250px;
}
#mainnav {
	display: none;
}
#mainnav a {
	text-decoration: none;
}

div.spotify-player{
	width: 100%;
	text-align: center;
}

div.spotify-player iframe{
	margin: 0 auto;
	display: inline-block;
	width: 100%;
}

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {

#icons {
	top: 2em;
    right: 2em;
 	max-width: 250px;
}
.icon {
	padding-left: 2px;
	padding-right: 2px;
}
#dropdownmobile {
	display: none;
}
#dropdowntablet {
	display: block;
}
#mainnav {
	display: none;
}
.musicWrapper {
	position: relative;
	padding-bottom: 140%;
	padding-top: 25px;
	height: 0;
}
.musicWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/*
	max-width: 350px;
	max-height: 442px;
	*/
}
.navfont {
	font-size: 0.9em;
}
div.videoContainer {
	text-align:center;
	background:rgba(255, 255, 255, 0.9);
	padding-bottom: 1%;
	margin-right: 1%;
	margin-left: 1%;
	}
div.videoContainer p {
	padding-left: 20px;
	padding-right: 20px;
}
.gridContainer {
	width: 90.675%;
	clear: none;
	float: none;
	margin: auto;
}

#sidecontent {
width: 15%;
display: none;
}
#mainsection {
clear: both;
margin-left: 0;
}
#homemainsection {
clear: both;
margin-left: 0;
}
div.textBG {
	padding:3%;
	background: rgba(255, 255, 255, 0.7);
	overflow: auto;
	margin: 1%;
}
#footer {
}


.bandcamp {
}
.song {
}
#songlist {
}
#socialmediaicons {
}
.hide_tablet {
display: none;
}
.zeroMargin_tablet {
margin-left: 0;
}

}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 814px) {

#icons {
	top: 2em;
    right: 2em;
    max-width: 260px;
}
.icon {
	padding-left: 5px;
	padding-right: 5px;
}
#dropdownmobile {
	display: none;
}
#dropdowntablet {
	display: none;
}
#mainnav {
	display: inline;
}
.musicWrapper {
	position: relative;
	padding-bottom: 120%;
	padding-top: 25px;
	height: 0;
}
.musicWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/*
	max-width: 350px;
	max-height: 442px;
	*/
}
.navfont {
	font-size: 1em;
}
div.videoContainer {
	text-align:center;
	background:rgba(255, 255, 255, 0.9);
	padding-bottom: 15px;
	}


.gridContainer {
	width: 88.5%;
	max-width: 1232px;
	padding-left: 0.75%;
	padding-right: 0.75%;
	margin: auto;
	clear: none;
	float: none;
	margin-left: auto;
}

#sidecontent {
	width: 15%;
	min-width: 132px;
	max-width: 170px;
	padding-top: 50px;
	padding-left: 10px;
	padding-right: 10px;
	display:inline
}
#mainsection {
	width: 80%;
	margin-left: 1.6949%;
	clear: none;
	background-color: undefined;
}
#homemainsection {
	width: 98%;

	clear: none;
	background-color: undefined;
}

.bandcamp {
}

/*
.song {
	width: 50%;
}
*/

#songlist {
}
#socialmediaicons {
	position: fixed;
	right: 0px;
	bottom: 0px;
}
.zeroMargin_desktop {
margin-left: 0;
}
.hide_desktop {
display: none;
}
#logo {
	width:198px;
}
}