<p>Music written by Levi Patel</p>

<p>Produced by Levi Patel and Jeremy Reid</p>

<p>Recorded by Jacob Rush<br>
Mixed by Simon Gooding at Roundhead Studios<br>
Mastered by Howard Rogers at BringItOn Studios<br>
Additional recording on tracks 10, 11, and 12 by Levi Patel<br>
Additional production by Jacob Rush and Gala Morris</p>

<p>Pianos (tracks 10, 11, 12), acoustic guitars (12), keyboards (11, 12), and vocals (11, 12) recorded at LOT9 Studios, Auckland, New Zealand<br>
All other pianos recorded at the Leigh Sawmill Café, Auckland, New Zealand<br>
All other music recorded at Studio509, Auckland, New Zealand</p>

<p>Artwork by Edgar Melitao and Corban Koschak</p>

<h4>Performers</h4>

<p>Levi Patel - Pianos, guitars, keyboards, vocals (11, 12), percussion (12)<br>
James Bush - Cellos<br>
Rachel Grimwood - Violas<br>
Pascal Roggen - Violins<br>
Eric Scholes - Double bass (2, 9, 10, 13)<br>
Henry Swanson - French horns (2, 9, 10)<br>
Ben Sinclair - Clarinets (9, 10), flutes (9, 10)<br>
Jacob Rush - Synth programming (2, 3, 9, 10)<br>
Mike Newport - Programming (8)<br>
Corban Koschak - Vocals (9)<br>
Gala Morris - Vocals (9)<br>
Giana Patel - Vocals (9)<br>
Miller Yule - Vocals (9)</p>

<h4>Special Thanks</h4>

<p>Jonathan Zsofi, Jolin Lee, Josh Allen, Mike Chunn, Suren Unka, Melina Rathjen at Peer Agency, Jonathan Pearce, Mike Newport, Sophie Faber, Shane Anderson, Jesse Woolston, Anna Loveys, Ben and Kevin at the Leigh Sawmill Café, Tammy Adams, Mikael Lind, Gala Morris, and my family.</p>
