<p>Music written, produced, recorded, and mixed by Levi Patel.</p>

<p>Pianos on tracks 1, 6, and 7 recorded at the Leigh Sawmill Café, Auckland, New Zealand.<br>
Cellos recorded at Wolfe Street Studio, Auckland, New Zealand.<br>
All other music recorded at Lot9 Studio, Auckland, New Zealand.</p>

<p>Additional drum mixing by Suren Unka.</p>

<p>Mastered by Mike Gibson of Munki Masters at Bonfire Audio, Wellington, NZ. (<a href="https://www.munki.co.nz">www.munki.co.nz</a>, <a href="https://www.bonfireaudio.com">www.bonfireaudio.com</a>)</p>

<p>Cover photograph by John Bozinov<br>
Graphic design by Ash McConnell</p>

<h4>Performers</h4>

<p>Levi Patel - guitars, pianos, bass guitars, keyboards, vocals, glockenspiels, music boxes<br>
Giana Patel - vocals<br>
Rachel Grimwood - violas<br>
Chris Park - cellos<br>
Pascal Roggen - violins<br>
Miller Yule - drums (tracks 6, 8), cymbals (track 1)<br>
Scott Seabright - drums (track 1)<br>
Suren Unka - drums (track 10)</p>

<h4>Special Thanks</h4>

<p>Jeremy Reid, Suren Unka, Jesse Woolston, Rhian Sheehan, Tammy Adams, Ben at the Leigh Sawmill Café, Joost Langeveld, Chris van de Geer, Gala Morris, and my family.</p>
