<p>Lyrics by Jeremy Redmore<br>
Music by Levi Patel and Jeremy Redmore<br>
Produced by Levi Patel and Jeremy Redmore</p>

<p>Recorded by Levi Patel at LOT9 Studios, Auckland, New Zealand<br>
Cello and drums recorded by Jacob Rush at Drake St Studio, Auckland, New Zealand</p>

<p>Mixed by Nic Manders<br>
Mastered by Taylor Deupree</p>

<h4>Performers</h4>

<p>Jeremy Redmore - Vocals<br>
Avya - Backing vocals (1, 2), featured vocals (2)<br>
Jacob Rush - Drums (1, 2)<br>
Martin Roberts - Cellos (3)<br>
Levi Patel - Guitars, bass guitars, pianos, keyboards, additional vocals (1, 2)</p>

<p>Artwork hand drawn by Jia Luo</p>

<p>Press photos and Super 8 footage by Simon Moore</p>
