<p>Music and lyrics written by Levi Patel</p>

<p>Produced by Levi Patel<br>
Additional production by Sophie Faber and Matt Koenen</p>

<p>Strings and horns arranged by Levi Patel</p>

<p>Strings and drums recorded by Matt Gunn at Roundhead Studios<br>
Pianos recorded by Jacob Rush at Lot 9 Studios<br>
All other music recorded by Levi Patel at Lot 9 Studios</p>

<p>Mixed by Simon Gooding<br>
Mastered by Taylor Deupree</p>

<p>Vocal coaching by Suzanne Lynch</p>

<p>Production advice from Hillary Johnston and Chris Pratt<br>
Recording advice from Matt Gunn, Matt Koenen, Jeremy Reid, Jacob Rush, and Tom Verberne</p>

<h4>Performers</h4>

<p>Levi Patel - Vocals, backing vocals, pianos, guitars, keyboards, synthesisers, shakers<br>
Ezra Donnelly - Drums, shakers<br>
Tristan Colenso - Bass guitar [Tracks 1, 4, 7, 11]<br>
A talented friend - Backing vocals [Tracks 3, 4, 5, 6, 7, 10, 11]<br>
Giana Patel - Backing vocals [Track 3]</p>

<p>Violins - Charmian Keay, Hanny Lee, Joella Pinto, Miyo Yoon<br>
Violas - Rachel Grimwood, Julie Park<br>
Cellos - Martin Roberts<br>
Double Basses - Eric Scholes [Tracks 5, 6, 7, 10]</p>

<h4>Artwork</h4>

<p>Photograph of Levi Patel by Josh Allen<br>
Composition and additional photographs by Tianjun Li (Timjune)</p>

<h4>Gravity Music Video</h4>

<p>Crighton Bone - Director of Photography<br>
Jonny Yarrell - 1st AC<br>
Luka Turjak - Editor<br>
Mikee Carpinter - Colourist<br>
Thanks to Stephen Baker and Dean Thomas at Imagezone</p>

<h4>Special Thanks</h4>

<p>To all the incredible people above, as well as Agustina Marianacci, Alayna, Alex Harter, Await591, 
    Jeremy Redmore, Jeremy Reid, Jia, Jessie Reich, Jonathan Zsofi, Joy <span class="chinese-body">季朝伟</span>, 
    Luke Gajdus, Mark McLeod, Matt Weir at Algonaut, Michelle Bakker, Nancy Howie Piano Services, Niko Uusitalo, 
    Noema Te Hau, Olivia Holland, Rhian Sheehan, Tim Bern, Tony, Vivian <span class="chinese-body">文文</span>, 
    Wensu SkeletonHeart, <span class="chinese-body">林恩</span>, <span class="chinese-body">小杨</span>, 
    along with so many other supportive friends, and my family. I couldn't have done it without you.</p>
