
<p>From a foundational expression of intimate and contemplative guitar and piano 
    composition, Patel layers worlds of richly harmonic strings and delicately 
    crafted textures for a remarkable range of creative outputs that vary from film 
    soundtracks to collaborations with soundscape artists, pop stars and 
    robotic instruments.</p>

<p>Since 2013 and across two EPs and two albums, Patel's solo works have amassed tens 
    of millions of streams and listeners across the globe. In 2018, he travelled to 
    <b>George Lucas</b>' esteemed Skywalker Ranch to work with Academy Award winning sound 
    editor <b>André Fenley</b> (Fight Club, Jurassic Park) to complete his soundtrack for 
    Lucasfilm director <b>Rayne Roberts</b>' debut short film 
    <a href="https://www.imdb.com/title/tt9337716/"><i>It's Snowing Outside</i></a>.</p>

<p>The past five years have seen Patel expand the scope of his work to produce, 
    co-write or feature on songs by the likes of <b>Message To Bears</b>, 
    <a href="https://youtu.be/fGawMPHTzIo"><b>Alayna</b></a>, 
    <a href="/release/migrations"><b>Jeremy Redmore</b></a>
     and <b>Rhian Sheehan</b>. While in 2020 he made full use of his 
    software engineering education in exhibiting a prototype robotic musical 
    instrument at New York's Museum of the Moving Image.</p>

<p>Now, in 2024, the voice behind Patel's modest spectacles and quiet demeanour will be 
    shared with the world through his third album, to be announced soon.</p> 

<!-- <p>Now, in 2024, the voice behind Patel's modest spectacles and quiet demeanour is 
    shared with the world through his third album, 
    <i>Sailing on the Light of a Passing Star</i>.</p>

<p>It's an evolution that Patel himself could barely have imagined two years ago, 
    but after undergoing an intensive regime of vocal development and endless 
    lyrical iterations, his first singer-songwriter album has arrived as an 
    intimate, ethereal travelogue through the journey from heartbreak to hope.</p> -->