
<p>Now, the voice behind Patel's modest spectacles and quiet demeanour is 
    shared with the world through his upcoming album
    <i><a href="https://levipatel.bandcamp.com/album/sailing-on-the-light-of-a-passing-star">
        Sailing on the Light of a Passing Star</a></i>.</p>

<p>It's an evolution that Patel himself could barely have imagined three years ago, 
    but after undergoing an intensive regime of vocal development and endless 
    lyrical iterations, his first singer-songwriter album has arrived as an 
    intimate, ethereal travelogue through the journey from heartbreak to hope.</p>