
<ul class="list-unstyled list-spaced">
  <li><i>Writing to Reach You</i> documentary (2021, KR) - sound designer and mix engineer</li>
  <li><i>Firsts</i> short film (2021, NZ) - music composer</li>
  <li><a href="https://www.itssnowingoutside.com/">It's Snowing Outside</a> short film (2019) - music composer</li>
  <li><a href="https://www.imdb.com/title/tt9675394/">In My Absence</a> short film (2019) - music composer with Gala Morris</li>
  <li><i>Breaking and Entering</i> short film - music composer</li>
  <li><a href="https://www.neilpgeorge.com/#/crossroads-38/">Crossroads</a> feature documentary (2018) - music composer and sound designer</li>
  <li><a href="https://vimeo.com/176279171">This Island is Ours</a> feature documentary (2016) - music composer and sound designer</li>
  <li><a href="https://vimeo.com/195284427">Last Letters</a> short documentary (2016) - music composer and sound designer</li>
  <li><a href="https://vimeo.com/113468673">UIC. A Path to Success</a> promotional video (2014) - music composer and sound designer</li>
</ul>