
<ul class="list-unstyled list-spaced">
  <li><a href="/release/worlds-apart">Jeremy Redmore and Levi Patel - Migrations</a> (2023 EP)</li>
  <li><a href="https://alayna.ffm.to/cherrytree">Alayna - Cherry Tree</a> (2022) - producer and co-writer : Nettwerk Music Group</li>
  <li><a href="/release/beneath-the-sky">Moshimoss & Levi Patel - Beneath the Sky</a> (2022 EP)</li>
  <li><a href="https://messagetobears.com/album/folding-leaves-reworked">Wake Me (Levi Patel Rework) - Message to Bears</a> (2022) : Lost Birds</li>
  <li><a href="https://levipatel.bandcamp.com/track/dust">Levi Patel & Suren Unka - Dust</a> (2021)</li>
  <li><a href="https://galageorge.bandcamp.com/album/i-am-the-morning">Gala George - I Am The Morning</a> (2021 EP) - co-writer (track 5), producer, performer, engineer</li>
  <li><a href="https://alexsteward.bandcamp.com/album/afterglow">Afterglow (Levi Patel Remix) - Alex Steward</a> (2021)</li>
  <li><a href="https://orcd.co/re-sunrise">Sunrise (Levi Patel Recomposition) - Tom Adams</a> (2020) : Moderna Records</li>
  <li><a href="https://smarturl.it/SmallHours-LPR">Small Hours (Levi Patel Reinterpretation) - Liam J Hennessy</a> (2020) : Bigo and Twigetti</li>
  <li><a href="https://rhiansheehan.bandcamp.com/track/toward-the-sun-feat-levi-patel">Rhian Sheehan - Toward the Sun (feat. Levi Patel)</a> (2018) - co-writer, performer, engineer : Loop Recordings</li>
  <li><a href="https://open.spotify.com/album/0gabkvfTx90aQmI3UAnoyK">This Pale Fire - Alchemy</a> (2017 album) - producer, engineer, performer : Tone Tonic</li>
  <li><a href="https://surenunka.bandcamp.com/album/5-8">5/8 EP with Suren Unka</a> (2016) : Marigold Music</li>
  <!-- <li><a href="https://itunes.apple.com/nz/album/roads-ep/id885729692">Livi Mulholland - Roads</a> (2014 EP) - producer, co-writer, and performer.</li> -->
</ul>