
<ul class="list-unstyled list-spaced">
  <li><a href="/release/sotloaps">Sailing on the Light of a Passing Star</a> (2025 Album)</li>
  <li><a href="https://levipatel.bandcamp.com/album/its-snowing-outside-original-score">It's Snowing Outside (Original Score)</a> (2020 OST)</li>
  <li><a href="/release/a-shifting-lightness">A Shifting Lightness</a> (2020 Album)</li>
  <li><a href="/release/affinity">Affinity</a> (2017 Album)</li>
  <li><a href="https://levipatel.bandcamp.com/album/of-sleep-and-time">Of Sleep and Time</a> (2015 EP)</li>
  <li><a href="https://levipatel.bandcamp.com/album/forms">Forms</a> (2014 EP)</li>
  <li><a href="https://soundcloud.com/astrangelyisolatedplace/asip005-levi-patel-1">Dissociation (Extended)</a> (2014 Single) : A Strangely Isolated Place</li>
  <li><a href="https://levipatel.bandcamp.com/track/and-she-translated-into-the-sky">And she translated into the sky</a> (2013 Single)</li>
</ul>