<div class="textBG-content discord-description">
  <h2>Discord Server</h2>

  <p>I also have my own Discord server, a kind of private forum
     where I share more from behind the scenes, trade music recommendations, 
     and generally just chat with everyone.</p>

  <!-- <p>Send me a message, or email me at <a href="mailto:levi@levipatel.com">levi@levipatel.com</a>,
    and I'll send you an invitation to join us.</p> -->

  <p>Just click the button below to join us, I hope to see you there.</p>

  <a class="button discord-button" href="https://discord.gg/HNSHRN7B88">Join Discord</a>

</div>