
<div id="icons" class="icons-contact-page">

    <a href="https://instagram.com/levipatel" target="_blank" 
  rel="noopener" aria-label="Levi Patel on Instagram">
    <img class="icon" src="/images/icons/instagram.png" align="right" alt=""/></a>

  <a href="https://www.facebook.com/LeviPatelMusic" target="_blank" 
  rel="noopener" aria-label="Levi Patel on Facebook">
    <img class="icon" src="/images/icons/facebook.png" align="right" alt=""/></a>

    <a href="https://www.tiktok.com/@levi.patel" target="_blank" 
    rel="noopener" aria-label="Levi Patel on Tiktok">
      <img class="icon" src="/images/icons/tiktok.png" align="right"  alt=""/></a>
  
  <a href="https://www.douyin.com/user/MS4wLjABAAAAJVBAXZTf7maeXmRi1EGbB01qLDCzcZfbn6cmw45DRA892a2WU5kAqAue4fyrDVfU" target="_blank" 
  rel="noopener" aria-label="Levi Patel on Douyin 抖音">
    <img class="icon" src="/images/icons/douyin.png" align="right"  alt=""/></a>

    <a href="https://www.xiaohongshu.com/user/profile/651fd888000000002402d2a8" target="_blank" 
  rel="noopener" aria-label="Levi Patel on RedBook 小红书'">
    <img class="icon" src="/images/icons/xhs.png" align="right" alt=""/></a>

</div>