
<div id="icons">

  <a href="https://instagram.com/levipatel" target="_blank" rel="noopener" aria-label="Levi Patel on Instagram">
    <img class="icon" src="{{ site.baseurl }}/images/icons/instagram.png" align="right" alt=""/></a>

  <a href="https://discord.gg/HNSHRN7B88" target="_blank" rel="noopener" aria-label="Levi Patel's Discord Server'">
    <img class="icon" src="{{ site.baseurl }}/images/icons/discord.png" align="right" alt=""/></a>
  

  <a href="https://twitter.com/LeviPatel" target="_blank" rel="noopener" aria-label="Levi Patel on Twitter">
    <img class="icon" src="{{ site.baseurl }}/images/icons/twitter.png" align="right"  alt=""/></a>

  <a href="https://www.facebook.com/LeviPatelMusic" target="_blank" rel="noopener" aria-label="Levi Patel on Facebook">
    <img class="icon" src="{{ site.baseurl }}/images/icons/facebook.png" align="right" alt=""/></a>

  <a href="https://levipatel.bandcamp.com" target="_blank" rel="noopener" aria-label="Levi Patel on Bandcamp">
    <img class="icon" src="{{ site.baseurl }}/images/icons/bandcamp.png" align="right" alt=""/></a>

  <a href="https://open.spotify.com/artist/58yaxER8OVXD43lFpnWIAn?si=5zcGV4e4QxSeMlptGLJNeA" target="_blank" rel="noopener" aria-label="Levi Patel on Spotify">
    <img class="icon" src="{{ site.baseurl }}/images/icons/spotify.png" align="right" alt=""/></a>

  <a href="https://music.apple.com/us/artist/levi-patel/881771416" target="_blank" rel="noopener" aria-label="Levi Patel on Apple Music">
    <img class="icon" src="{{ site.baseurl }}/images/icons/applemusic.png" align="right" alt=""/></a>

</div>