
<div id="icons" class="icons-music">

  <a href="https://levipatel.bandcamp.com" target="_blank" 
  rel="noopener" aria-label="Levi Patel on Bandcamp">
    <img class="icon" src="/images/icons/bandcamp.png" align="right" alt=""/></a>

  <a href="https://open.spotify.com/artist/58yaxER8OVXD43lFpnWIAn?si=5zcGV4e4QxSeMlptGLJNeA" 
  target="_blank" rel="noopener" aria-label="Levi Patel on Spotify">
    <img class="icon" src="/images/icons/spotify.png" align="right" alt=""/></a>

  <a href="https://music.apple.com/us/artist/levi-patel/881771416" target="_blank" 
  rel="noopener" aria-label="Levi Patel on Apple Music">
    <img class="icon" src="/images/icons/applemusic.png" align="right" alt=""/></a>

    <a href="https://www.youtube.com/levipatel" target="_blank" 
  rel="noopener" aria-label="Levi Patel on YouTube">
    <img class="icon" src="/images/icons/youtube-music.png" align="right" alt=""/></a>

    <a href="https://music.amazon.com/artists/B00KJ3QZAW/levi-patel" target="_blank" 
  rel="noopener" aria-label="Levi Patel on Amazon Music">
    <img class="icon" src="/images/icons/amazon.png" align="right" alt=""/></a>

    <a href="https://www.deezer.com/en/artist/5887113" target="_blank" 
  rel="noopener" aria-label="Levi Patel on Deezer">
    <img class="icon" src="/images/icons/deezer.png" align="right" alt=""/></a>

    <a href="https://music.163.com/#/artist?id=844354" target="_blank" 
  rel="noopener" aria-label="Levi Patel on Netease Cloud Music 网易云音乐">
    <img class="icon" src="/images/icons/netease.png" align="right" alt=""/></a>

    
    

</div>