
<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>
<script type="text/javascript" defer>

window.onload = function(){ 
    function showMailingPopUp() {

	require(["mojo/signup-forms/Loader"], function(L) { 
		L.start({"baseUrl":"mc.us3.list-manage.com","uuid":"58255db0ec0333cf055b7e65c","lid":"86a2cbf094","uniqueMethods":true}) 
	})

	document.cookie = "MCPopupClosed=; expires=Thu, 01 Jan 1970 00:00:00 UTC";
	};

	document.getElementById("open-popup").onclick = function() {showMailingPopUp()};

	// window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { 
	// 	L.start({"baseUrl":"mc.us3.list-manage.com","uuid":"58255db0ec0333cf055b7e65c","lid":"86a2cbf094","uniqueMethods":true}) 
	// })
};

</script>