<div class="textBG-content">

  <h2>Newsletter</h2>

  <p>My newsletter is the most direct way to hear from me, without any algorithms 
    coming between us. It's also where I like to discuss my projects in more depth, and 
    more openly, than I do elsewhere.</p>

  <p>If you're interested, click the button below and I'll keep you up to date.</p>

  <!-- <a class="button blog-button footer-subscribe-button newsletter-contact-button" 
  href="https://eepurl.com/glhaTz">Subscribe</a> -->

  <a class="button blog-button footer-subscribe-button newsletter-contact-button" 
  href="https://a3aacc82.sibforms.com/serve/MUIFAEc--gj-rQWEL7Z4Dkcz4atU6arfXNTfYDS4UMMdqt4M6OcCWP-AcfZcjUcD0yJ2gZBEm1aqzrKRJZIxsszWJOy8n7dwOCuL_nk8sAt2wWcQltz9SQN7XZpu-G_iu3VwA0JMXPtusP9zqsdvd2DtLvm11RrZOZHatgP4EvyZcsc9qNsiDVhVdLnqwbDrAVa_emnkapLaM2-z">
  Subscribe</a>


  

</div>