<div class="textBG-content">

  <h2>Newsletter</h2>

  <p>My newsletter is the most direct way to hear from me, without any algorithms 
    coming between us. It's also where I like to discuss my projects in more depth, and 
    more openly, than I do elsewhere.</p>

  <p>If you're interested, click the button below and I'll keep you up to date.</p>

  <!-- <a class="button blog-button footer-subscribe-button newsletter-contact-button" 
  href="https://eepurl.com/glhaTz">Subscribe</a> -->

  <a class="button blog-button footer-subscribe-button newsletter-contact-button" 
  href="https://a3aacc82.sibforms.com/serve/MUIFAEmMULDW3-I_QQc1zfpoLAQiWNIGl3YsDEzzxDBv3Qe5zz8VUjGbQwc4CEhSFhObBgnn93wwnTjPNQLVn1N5LJQ-ScIH1UYHcb1WV8qfH5IvePv18hZ6I8SCWj54BG8BqVJAyrpS2aPr6KsvDBIMQHT-NphhSE5Jyq4WPY_9_fRw9QamLftOkELn2evv8Ql7HhJ6-JO9V9by">
  Subscribe</a>


  

</div>