<!-- Begin MailChimp Signup Form -->
  <div id="mc_embed_signup">
    <form action="https://levipatel.us3.list-manage.com/subscribe/post?u=58255db0ec0333cf055b7e65c&amp;id=86a2cbf094" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      
      <div class="mc-field-group">

        <label for="mce-EMAIL">Email Address: </label>
        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">

      </div>

        <div id="mce-responses" class="clear" style="padding-top:4px;">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
          </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->

        <div style="position: absolute;  left: -5000px;">
          <input type="text" name="b_58255db0ec0333cf055b7e65c_86a2cbf094" value="" aria-label="Submit">
        </div>

        <div class="clear" >
          <input type="submit" style="
            -webkit-border-top-left-radius:4px;
          -moz-border-radius-topleft:1px;
          border-top-left-radius:1px;
          -webkit-border-top-right-radius:1px;
          -moz-border-radius-topright:1px;
          border-top-right-radius:1px;
          -webkit-border-bottom-right-radius:1px;
          -moz-border-radius-bottomright:1px;
          border-bottom-right-radius:1px;
          -webkit-border-bottom-left-radius:1px;
          -moz-border-radius-bottomleft:1px;
          border-bottom-left-radius:1px;
          border-style: solid;
          border-color: rgba(0, 0, 0, 0.1);
          border-width: 1px;
          " value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
      </div>

    </form>

  </div>