
<div class="press-kit-music">
	<iframe title="A Shifting Lightness album on Bandcamp" style="border: 0; width: 200px; height: 200px;" src="https://bandcamp.com/EmbeddedPlayer/album=2567089281/size=large/bgcol=ffffff/linkcol=333333/minimal=true/transparent=true/" seamless><a href="http://levipatel.bandcamp.com/album/a-shifting-lightness">A Shifting Lightness by Levi Patel</a></iframe>

	<iframe title="Affinity album on Bandcamp" style="border: 0; width: 200px; height: 200px;" src="https://bandcamp.com/EmbeddedPlayer/album=1501021534/size=large/bgcol=ffffff/linkcol=333333/minimal=true/transparent=true/" seamless><a href="http://levipatel.bandcamp.com/album/affinity">Affinity by Levi Patel</a></iframe>

	<iframe title="It's Snowing Outside (Original Score) album on Bandcamp" style="border: 0; width: 200px; height: 200px;" src="https://bandcamp.com/EmbeddedPlayer/album=2933180407/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="https://levipatel.bandcamp.com/album/its-snowing-outside-original-score">It&#39;s Snowing Outside (Original Score) by Levi Patel</a></iframe>

	<iframe title="Of Sleep and Time album on Bandcamp" style="border: 0; width: 200px; height: 200px;" src="https://bandcamp.com/EmbeddedPlayer/album=535052867/size=large/bgcol=ffffff/linkcol=333333/minimal=true/transparent=true/" seamless><a href="http://levipatel.bandcamp.com/album/of-sleep-and-time">Of Sleep and Time by Levi Patel</a></iframe>

	<iframe title="Forms album on Bandcamp" style="border: 0; width: 200px; height: 200px;" src="https://bandcamp.com/EmbeddedPlayer/album=3934341197/size=large/bgcol=ffffff/linkcol=333333/minimal=true/transparent=true/" seamless><a href="http://levipatel.bandcamp.com/album/forms">Forms by Levi Patel</a></iframe>
</div>