
<ul>
	<li>Over 50 pieces of self-produced music released, including two full-length albums</li>

	<li>Highest played track over <b>17 million streams</b></li>

	<li>Composed film soundtracks including 
		<a href="https://www.imdb.com/title/tt9337716/"><i>It's Snowing Outside</i></a>, 
		directed by <b>Lucasfilm's Rayne Roberts</b>. Completed at Skywalker Ranch with 
		Academy Award winner <b>André Fenley</b> (Fight Club, Jurassic Park)</li>

	<li>
		5000 <a href="https://open.spotify.com/artist/58yaxER8OVXD43lFpnWIAn?si=7VoXpjbeTOm0ZPF_1XqgcQ">Spotify</a> followers, 
		1200 newsletter subscribers, 
		14000 <a href="https://soundcloud.com/levipatel">Soundcloud</a>, 
		1500 <a href="https://instagram.com/levipatel">Instagram</a>, 
		1600 <a href="https://facebook.com/levipatelmusic">Facebook</a>, 
		1800 Netease
	</li>

	<li>4.5 star review on 
		<a href="https://www.stuff.co.nz/entertainment/91034251/listening-post-french-for-rabbitslevi-patelmottesleaford-mods">stuff.co.nz</a> 
		and Sunday Star Times (NZ) <i>Albums of the Year</i> list 2017</li>

	<li>Produced and written gentle pop songs with artists including 
		<a href="https://youtu.be/fGawMPHTzIo"><i>Alayna</i></a> 
		and <a href="https://levipatel.com/release/migrations"><i>Jeremy Redmore</i></a></li>

	<li>Co-written and featured on music with Rhian Sheehan, Message to Bears, and Moshimoss</li>

	<li>Exhibited prototype robotic musical instrument at New York's Museum of the Moving Image (2020)</li>

	<li>Self-taught Mandarin speaker with 10,000 videos using my music on Tiktok in China (抖音)</li>

	<li>Bachelor of Engineering (First Class Honours in Software Engineering) 
		and Bachelor of Commerce (Economics and Finance) from the 
		University of Auckland</li>
</ul>