
<div class="press-kit-icons">
	
	<a href="https://instagram.com/levipatel" target="_blank" rel="noopener" aria-label="Levi Patel on Instagram">
	  <img src="{{base}}images/icons/instagram.png" align="right" alt=""/></a>

	<a href="https://twitter.com/LeviPatel" target="_blank" rel="noopener" aria-label="Levi Patel on Twitter">
	  <img src="{{base}}images/icons/twitter.png" align="right"  alt=""/></a>

	<a href="https://www.facebook.com/LeviPatelMusic" target="_blank" rel="noopener" aria-label="Levi Patel on Facebook">
	  <img src="{{base}}images/icons/facebook.png" align="right" alt=""/></a>

	  <a href="https://levipatel.bandcamp.com" target="_blank" rel="noopener" aria-label="Levi Patel on Bandcamp">
	  <img src="{{base}}images/icons/bandcamp.png" align="right" alt=""/></a>

	<a href="https://open.spotify.com/artist/58yaxER8OVXD43lFpnWIAn?si=5zcGV4e4QxSeMlptGLJNeA" target="_blank" rel="noopener" aria-label="Levi Patel on Spotify">
	  <img src="{{base}}images/icons/spotify.png" align="right" alt=""/></a>

	  <a href="https://music.apple.com/us/artist/levi-patel/881771416" target="_blank" rel="noopener" aria-label="Levi Patel on Apple Music">
	  <img src="{{base}}images/icons/applemusic.png" align="right" alt=""/></a>

	  <a href="https://soundcloud.com/levipatel" target="_blank" rel="noopener" aria-label="Levi Patel on Soundcloud">
	  <img src="{{base}}images/icons/soundcloud.png" align="right" alt=""/></a>

</div>