
<ul class="press-kit-section">
	<li>Over 40 pieces of music released including two full-length albums</li>

	<li>30,000 streams per week, with top played track over <b>15 million streams</b></li>

	<li>Composed for <a href="https://www.imdb.com/title/tt9337716/"><i>It’s Snowing Outside</i></a>, directed by <b>Lucasfilm Producer Rayne Roberts</b>. Completed at Skywalker Ranch with André Fenley (Minority Report, Fight Club)</li>

	<li>14,000 <a href="https://soundcloud.com/levipatel">Soundcloud</a> followers, 4700 <a href="https://open.spotify.com/artist/58yaxER8OVXD43lFpnWIAn?si=7VoXpjbeTOm0ZPF_1XqgcQ">Spotify</a>, 1600 <a href="https://facebook.com/levipatelmusic">Facebook</a>, 1400 <a href="https://instagram.com/levipatel">Instagram</a>, 800 <a href="https://twitter.com/levipatel">Twitter</a></li>

	<li>4.5 star review on <a href="https://www.stuff.co.nz/entertainment/91034251/listening-post-french-for-rabbitslevi-patelmottesleaford-mods">stuff.co.nz</a> and Sunday Star Times (NZ) <i>Albums of the Year</i> list 2017</li>

	<li>Co-writer and featured artist on Rhian Sheehan's album <i>A Quiet Divide</i> (2019)</li>

	<li>Composed music and engineered sound for feature documentaries and short films</li>

	<li>Built prototype robotic musical instrument premiered at The Museum of the Moving Image in <b>New York City</b> (2020)</li>

	<li>Bachelor of Engineering (<b>First Class Honours</b> in Software Engineering) and Bachelor of Commerce (Economics and Finance) from the University of Auckland, New Zealand</li>
</ul>