<!doctype html>
{% include base.html %}
<!--[if lt IE 7]> <html class="ie6 oldie"> <![endif]-->
<!--[if IE 7]>    <html class="ie7 oldie"> <![endif]-->
<!--[if IE 8]>    <html class="ie8 oldie"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="">
<!--<![endif]-->
<head>

  <!-- Google (gtag.js) - Google Analytics GA4 -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-9X65Q0MXRT"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-9X65Q0MXRT');
  </script>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Official website of ambient and modern classical music composer and producer Levi Patel. Listen to music, watch music videos, view recording studio photos, and read the latest news and blog articles.">
  <meta name="keywords" content="Modern Classical, Ambient, Piano, Instrumental, Electronic, Electronica, Instrumental, Post-rock, Postrock, Post Rock, Film Music, Soundtrack, Ambient Guitar, Free Download, Music Streaming, Levi, Levi Patel Songs, Levi Patel Albums, Levi Patel Streaming, Affinity, Of Sleep and Time, As she passes, A Shifting Lightness, Through Winter Eyes, Since last letters, Last Letters, Sewol, Nils Clauss, Hammock, Sigur Ros, Rhian Sheehan, Olafur Arnalds, Nils Frahm, Music Licensing, Ambient Music Streaming, Auckland, New Zealand, Composer, Beautiful Music, This Pale Fire, Alayna, Cherry Tree, And she translated into the sky, Suren Unka, Recording Studio" />
  <base target="_blank">

  <title>{{ page.title }}</title>

  <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.png" type="image/png">
  <link rel="shortcut icon" type="image/png" href="https://levipatel.com/favicon.png" />
  <link href="{{ site.baseurl }}/boilerplate.css" rel="stylesheet" type="text/css">
  <link href="{{ site.baseurl }}/styles.css?v=2.0" rel="stylesheet" type="text/css">


  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script src="{{ site.baseurl }}/respond.min.js"></script>

</head>
<body>


<div class="page-content">

  <header id="mainheader" class="fluid">

    <a href="/" target="_self" class="header-logo"><img id="logo" src="{{ site.baseurl }}/images/levipatellogo.png" alt="Levi Patel"/></a>
   
    <div id="navigation">
      <nav id="mainnav">
        <ul id="menusystem">
          <li class="fluid navmenuitem"><a class="navfont" href="{{ site.baseurl }}/music" target="_self" title="Music">MUSIC</a></li>
          <li class="fluid navmenuitem"><a class="navfont" href="{{ site.baseurl }}/filmandtv" target="_self" title="Film and TV">FILM/TV</a></li>
          <li class="fluid navmenuitem"><a class="navfont" href="{{ site.baseurl }}/studio" target="_self" title="Studio and Engineering">STUDIO</a></li>
          <li class="fluid navmenuitem"><a class="navfont" href="{{ site.baseurl }}/collaboration" target="_self" title="Collaboration">COLLAB</a></li>
          <li class="fluid navmenuitem"><a class="navfont" href="{{ site.baseurl }}/about" target="_self" title="About">ABOUT</a></li>
          <li class="fluid navmenuitem" id="contactnav"><a class="navfont" href="{{ site.baseurl }}/contact" target="_self" title="Contact">CONTACT</a></li>
        </ul>
      </nav>
    </div>

  </header>


  <div id="dropdownmobile">
    <ul class="navbar">
     <li>
        <a target="_self" href="{{ site.baseurl }}/music">MUSIC</a>        
     </li>
     <li>
        <a target="_self" href="#">WORK</a>
        <ul>
         <li style="width:100%"><a target="_self" href="{{ site.baseurl }}/filmandtv">FILM/TV</a></li>
         <li style="width:100%"><a target="_self" href="{{ site.baseurl }}/collaboration">COLLAB</a></li>
         <li style="width:100%"><a target="_self" href="{{ site.baseurl }}/studio">STUDIO</a></li>
        </ul>         
     </li>
     <li>
      <a target="_self" href="#">INFO</a>
      <ul>
         <li style="width:100%"><a target="_self" href="{{ site.baseurl }}/about">ABOUT</a></li>
         <li style="width:100%"><a target="_self" href="{{ site.baseurl }}/blog">BLOG</a></li>
         <!-- <li style="width:100%"><a target="_self" href="{{ site.baseurl }}/news">NEWS</a></li> -->
         <li style="width:100%"><a target="_self" href="{{ site.baseurl }}/contact">CONTACT</a></li>
      </ul>         
     </li>
    </ul>
</div>


<div id="dropdowntablet">
  <ul class="navbartablet">
   <li>
      <a target="_self" href="{{ site.baseurl }}/music">MUSIC</a>
    </li>
   <li>
      <a target="_self" href="{{ site.baseurl }}/filmandtv">FILM/TV</a>        
   </li>
   <li>
      <a target="_self" href="{{ site.baseurl }}/studio">STUDIO</a> 
   </li>
   <li>
    <a target="_self" href="#">INFO</a>
    <ul>
       <li style="width:100%"><a target="_self" href="{{ site.baseurl }}/about">ABOUT</a></li>
       <li style="width:100%"><a target="_self" href="{{ site.baseurl }}/collaboration">COLLAB</a></li>
       <li style="width:100%"><a target="_self" href="{{ site.baseurl }}/blog">BLOG</a></li>
       <li style="width:100%"><a target="_self" href="{{ site.baseurl }}/contact">CONTACT</a></li>
       <!-- <li style="width:100%"><a target="_self" href="{{ site.baseurl }}/news">NEWS</a></li> -->
    </ul>         
   </li>
  </ul>
</div>

  <div class="grid-container clearfix">
    <section class="main-section fluid">
     
     {{ content }}
      
    </section>
  </div>

</div>

<footer id="footer" class="fluid">
   {% include icons.html %}

   {% include mailchimp-signup-minimal.html %}

  <div class="footer-email"><a href="mailto:levi@levipatel.com">levi@levipatel.com</a></div>

</footer>

</body>
</html>
