<!doctype html>
{% include base.html %}
<!--[if lt IE 7]> <html class="ie6 oldie"> <![endif]-->
<!--[if IE 7]>    <html class="ie7 oldie"> <![endif]-->
<!--[if IE 8]>    <html class="ie8 oldie"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="">
<!--<![endif]-->
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Official website of ambient and modern classical music composer Levi Patel. Listen to music, watch music videos, and read the latest news and blog articles.">
<meta name="keywords" content="Modern Classical, Ambient, Piano, Instrumental, Electronic, Electronica, Instrumental, Post-rock, Postrock, Post Rock, Film Music, Soundtrack, Ambient Guitar, Free Download, Music Streaming, Levi, Levi Patel Songs, Levi Patel Albums, Levi Patel Streaming, Affinity, Of Sleep and Time, As she passes, A Shifting Lightness, Through Winter Eyes, Since last letters, Last Letters, Sewol, Nils Clauss, Hammock, Sigur Ros, Rhian Sheehan, Olafur Arnalds, Nils Frahm, Music Licensing, Ambient Music Streaming, Auckland, New Zealand, Composer, Beautiful Music, This Pale Fire, Gala, And she translated into the sky, Suren Unka" />
<base target="_blank">

<title>Levi Patel | Music Composer</title>

<link rel="shortcut icon" href="{{base}}favicon.png" type="image/png">
<link rel="shortcut icon" type="image/png" href="https://levipatel.com/favicon.png" />
<link href="{{base}}boilerplate.css" rel="stylesheet" type="text/css">
<link href="{{base}}styles.css" rel="stylesheet" type="text/css">

<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<script src="{{base}}respond.min.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-39185322-2', 'levipatel.com');
  ga('send', 'pageview');
</script>

</head>
<body>


<header id="mainheader" class="fluid"><a href="index"><img id="logo" src="{{base}}images/levipatellogo.png" alt="Levi Patel"/></a>
  <div id="icons">
    <a href="https://instagram.com/levipatel" target="_blank" rel="noopener" aria-label="Levi Patel on Instagram">
      <img class="icon" src="{{base}}images/icons/instagram.png" align="right" alt=""/></a>
    <a href="https://levipatel.bandcamp.com" target="_blank" rel="noopener" aria-label="Levi Patel on Bandcamp">
      <img class="icon" src="{{base}}images/icons/bandcamp.png" align="right" alt=""/></a>
    <a href="https://twitter.com/LeviPatel" target="_blank" rel="noopener" aria-label="Levi Patel on Twitter">
      <img class="icon" src="{{base}}images/icons/twitter.png" align="right"  alt=""/></a>
    <a href="https://www.facebook.com/LeviPatelMusic" target="_blank" rel="noopener" aria-label="Levi Patel on Facebook">
      <img class="icon" src="{{base}}images/icons/facebook.png" align="right" alt=""/></a>
    <a href="https://open.spotify.com/artist/58yaxER8OVXD43lFpnWIAn?si=5zcGV4e4QxSeMlptGLJNeA" target="_blank" rel="noopener" aria-label="Levi Patel on Spotify">
      <img class="icon" src="{{base}}images/icons/spotify.png" align="right" alt=""/></a>
  </div>
</header>


<div id="dropdownmobile">
      <ul class="navbar">
       <li>
          <a target="_self" href="{{base}}news">NEWS</a>        
       </li>
       <li>
          <a target="_self" href="#">MEDIA</a>
          <ul>
           <li style="width:100%"><a target="_self" href="{{base}}music">MUSIC</a></li>
           <li style="width:100%"><a target="_self" href="{{base}}video">VIDEO</a></li>
           <li style="width:100%"><a target="_self" href="{{base}}filmandtv">FILM/TV</a></li>
          </ul>         
       </li>
       <li>
        <a target="_self" href="#">INFO</a>
        <ul>
           <li style="width:100%"><a target="_self" href="{{base}}about">ABOUT</a></li>
           <li style="width:100%"><a target="_self" href="{{base}}blog">BLOG</a></li>
           <li style="width:100%"><a target="_self" href="{{base}}contact">CONTACT</a></li>
        </ul>         
       </li>
      </ul>
</div>


<div id="dropdowntablet">
      <ul class="navbartablet">
       <li>
          <a target="_self" href="{{base}}news">NEWS</a> 
       </li>
       <li>
          <a target="_self" href="{{base}}music">MUSIC</a>
        </li>
       <li>
          <a target="_self" href="#">MEDIA</a>
          <ul>
           <li style="width:100%"><a target="_self" href="{{base}}video">VIDEO</a></li>
           <li style="width:100%"><a target="_self" href="{{base}}filmandtv">FILM/TV</a></li>
          </ul>         
       </li>
       <li>
        <a target="_self" href="#">INFO</a>
        <ul>
           <li style="width:100%"><a target="_self" href="{{base}}about">ABOUT</a></li>
           <li style="width:100%"><a target="_self" href="{{base}}blog">BLOG</a></li>
           <li style="width:100%"><a target="_self" href="{{base}}contact">CONTACT</a></li>
        </ul>         
       </li>
      </ul>
</div>


<div id="navigation">
  <nav id="mainnav" class="fluid">
    <ul id="menusystem" class="fluid fluidList">
      <li class="fluid navmenuitem"><a class="navfont" href="{{base}}index" target="_self" title="Home">HOME</a></li>
      <li class="fluid navmenuitem"><a class="navfont" href="{{base}}news" target="_self" title="News">NEWS</a></li>
      <li class="fluid navmenuitem"><a class="navfont" href="{{base}}music" target="_self" title="Music">MUSIC</a></li>
      <li class="fluid navmenuitem"><a class="navfont" href="{{base}}video" target="_self" title="Video">VIDEO</a></li>
      <li class="fluid navmenuitem"><a class="navfont" href="{{base}}filmandtv" target="_self" title="Film and TV">FILM/TV</a></li>
      <li class="fluid navmenuitem"><a class="navfont" href="{{base}}blog" target="_self" title="Blog">BLOG</a></li>
      <li class="fluid navmenuitem"><a class="navfont" href="{{base}}about" target="_self" title="About">ABOUT</a></li>
      <li class="fluid navmenuitem" id="contactnav"><a class="navfont" href="{{base}}contact" target="_self" title="Contact">CONTACT</a></li>
    </ul>
  </nav>
</div>


<aside id="sidecontent" class="fluid">
  <p><img src="{{base}}images/levipatel8-square-s.jpg" style="width:100%" alt="Levi Patel portrait photograph" /></p>
  <div id="contact"><p>Contact: 
 levi@levipatel.com</p>

</div>

  <p></p><!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form action="https://levipatel.us3.list-manage.com/subscribe/post?u=58255db0ec0333cf055b7e65c&amp;id=86a2cbf094" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  
<div class="mc-field-group">
  <label for="mce-EMAIL">Email Address: </label>
  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div>
  <p style="font-size: small;">Subscribe to receive occasional emails about new music and events.</p>
  </div>
  <div id="mce-responses" class="clear" style="padding-top:4px;">
    <div class="response" id="mce-error-response" style="display:none"></div>
    <div class="response" id="mce-success-response" style="display:none"></div>
  </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute;  left: -5000px;"><input type="text" name="b_58255db0ec0333cf055b7e65c_86a2cbf094" value="" aria-label="Subscribe"></div>
  <div class="clear" ><input type="submit" style="
    background-color: rgba(255, 255, 255, 0.7);
    font-size:0.9em;-webkit-border-top-left-radius:4px;
  -moz-border-radius-topleft:1px;
  border-top-left-radius:1px;
  -webkit-border-top-right-radius:1px;
  -moz-border-radius-topright:1px;
  border-top-right-radius:1px;
  -webkit-border-bottom-right-radius:1px;
  -moz-border-radius-bottomright:1px;
  border-bottom-right-radius:1px;
  -webkit-border-bottom-left-radius:1px;
  -moz-border-radius-bottomleft:1px;
  border-bottom-left-radius:1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 0px;
  " value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</form>
<p></p>
</div>

<!--End mc_embed_signup-->
</div>
</div>
</aside>

<div class="gridContainer clearfix">
<section id="mainsection" class="fluid">
 
 {{ content }}
  
</section>
</div>

<footer id="footer" class="fluid">&copy <span id="current-year-copyright"></span> Levi Patel</footer>

<script type="text/javascript">
  document.getElementById('current-year-copyright').innerHTML = new Date().getFullYear()
</script>

</body>
</html>
