---
layout: default
---

<div class="textBG">
	<div class="textBG-content">

		<h1>{{ page.title }}</h1>

		{{ content }}

		<i>{{ page.date | date_to_string }}</i>

		<ul class="share-buttons">
			<li>
		  	<a href="https://twitter.com/intent/tweet?source=https%3A%2F%2Flevipatel.com%2F&text=:%20https%3A%2F%2Flevipatel.com%2F&via=LeviPatel" target="_blank" rel="noopener" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20'  + encodeURIComponent(document.URL)); return false;"><img alt="Tweet" src="{{ site.url }}/images/ssb/Twitter.png" style="padding-top: 0; padding-bottom: 0;" /></a>
		  </li>
		  <li>
		  	<a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Flevipatel.com%2F&quote=" title="Share on Facebook" target="_blank" rel="noopener" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&quote=' + encodeURIComponent(document.URL)); return false;"><img alt="Share on Facebook" src="{{ site.url }}/images/ssb/Facebook.png" style="padding-top: 0; padding-bottom: 0;" /></a>
		  </li>
		</ul>

		<i class="share-text">Share: </i>

		<p><a href="/blog">Return to article list</a></p>

	</div>
</div>

