<p>新西兰作曲家，制作人，编曲家和词曲作者Levi Patel的职业生涯开始于那间
    由他亲手打造的，既能眺望崇山峻岭又能俯瞰壮丽海岸线的宁静祥和的工作室之中。</p>

<p>在这片安静的环境中，他创作出细腻，内省的作品。这些作品流向世界，让他成为了带有纽国元素的独特音乐人。</p>

<p>Patel的作品融合了吉他，钢琴，弦乐和复杂的合成音效。他的作品涵盖电影
    配乐，与其他流行音乐人的合作，以及机器人乐器的创作。</p>

<p>自2013年以来，Patel的个人作品（包括两张EP和两张专辑）已经获得了数百万次的播放量。
    他的职业生涯亮点之一是2018年，他前往乔治·卢卡斯的Skywalker Ranch，与奥斯卡奖
    得主声音编辑André Fenley合作了一部电影配乐。</p>

<p>近年来，Patel的创作范围不断扩大，共同创作或参与了Message To Bears，Alayna，Jeremy 
    Redmore和Rhian Sheehan等艺术家的歌曲。同时，在2020年，他充分利用了自己软
    件工程的教育背景，在纽约的移动影像博物馆展出了一个机器人乐器的原型。</p>

<p>Patel对中国文化的热爱使他自学了中文，并在中国积累了大量粉丝。如今，中国已经成为了
    他大半听众的来源，抖音平台上有成千上万的视频使用了他的音乐作为BGM。</p>