---
layout: default
title: Levi Patel | Info Kit
sitemap: false
---
<meta name="robots" content="noindex, nofollow">

<div class="textBG press-kit chinese" >
  <div class="textBG-content">
  <h1>Levi Patel <span class="chinese-heading">林外</span> - Information Kit</h1>
  <p>Note: this page may include unreleased content, so please visit my <a href="/press-kit">Press Kit</a> if you're looking for publishable material.</p>

  {% include chinese/top-photo-and-links.html %}


  <div class="press-kit-section chinese-body">
    <!-- Biography -->
    <h2 class="chinese-heading">音乐人简介</h2> 
    {% include chinese/biography-part-1.html %}

    {% include chinese/biography-part-2-info-kit.html %}
  </div>


  <div class="press-kit-section">
    <h2>Highlights</h2>
    {% include press-kit/highlights.html %}
  </div>
   
  <div class="press-kit-section">
    <!-- <img src="images/press/levipatel18.png" alt="Levi Patel portrait photograph" /> -->
    <img src="/images/press/LeviPatel-7.jpg" alt="Levi Patel portrait photograph" />
  </div>


  <div class="press-kit-section">
     <h2>Reviews</h2>
      {% include press-kit/reviews.html %}
  </div>


  {% include press-kit/videos.html %}


  <div class="press-kit-section">
    <h2>Albums and EPs</h2>
    {% include press-kit/music-embeds.html %}
  </div>

  <div class="press-kit-section">
    <h2>Collaborations</h2>
    {% include press-kit/music-collab-embeds.html %}
  </div>


  <div class="press-kit-section">
    <h2>Credits</h2>

    <h3>Discography</h3>
    {% include credits-discography.html %}
    
    <p></p>

    <h3>Film</h3>
    {% include credits-film.html %}

    <p></p>
    
    <h3>Collaboration Highlights</h3>
    {% include credits-collaboration.html %}

    <p></p>

    <h3>Commercial Clients</h3>
    {% include credits-commercial.html %}
    
    <p></p>
  </div>


  <div class="press-kit-section">
    <h2>Contact</h2>
    {% include press-kit/contact.html %}
  <!-- </div> -->
    

    <!-- <img src="images/press/levipatel18.png" style="width:100%; margin-left: auto; margin-right: auto; display: block;" alt="Levi Patel portrait photograph" /> -->
    <!-- <img src="images/press/LeviPatel-12.jpg" style="width:100%; margin-left: auto; margin-right: auto; display: block;" alt="Levi Patel portrait photograph" /> -->
     <img src="images/press/LeviPatel-13.jpg" style="width:100%; margin-left: auto; margin-right: auto; display: block;" alt="Levi Patel portrait photograph" />
  </div>


 </div>

</div>


</div>
